HS.MACConnect/Web References/com.alarmaccount.www/NMCLinkPortal.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.nmccentral.com/webservices/nmcmapi" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.nmccentral.com/webservices/nmcmapi" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.nmccentral.com/webservices/nmcmapi">
      <s:element name="ProcessData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="reqType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="secUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passWord" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="csNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xmldata" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcessDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessDataRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inP" type="tns:InputParms" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="InputParms">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="siteNo" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="systemNo" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="contactNo" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="reqType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="secUser" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="procName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="csNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="xmlData" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="appFlag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="passWord" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="xmlString" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codeWord" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sitePhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="panelCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="cust_no" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="site_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="altID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email_address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contactPhone" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="empNo" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="udf1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="udf2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="udf3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="udf4" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="branchNo" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="coNo" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="installNo" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="servcoNo" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="corpAcctNo" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="startDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="endDate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="historyRows" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="openOnly" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="invoiceOnly" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sortOrder" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="useHistory" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dbFlag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="startBillCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="endBillCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="hideReverse" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="retAddr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="invFrom" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="invTo" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="spid" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="emailFlag" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="invFormNo" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="invoiceNo" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ctactLinkNo" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="processName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="comment" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ProcessDataRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcessDataRequestResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessDataElementRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inParms" type="tns:InputParms" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessDataElementRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcessDataElementRequestResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessDataElementRequest2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ontestParms" type="tns:OnTestParms" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="OnTestParms">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="siteNo" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="systemNo" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="contactNo" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="processFlag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="testCatID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="testSeqNo" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="effectiveDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="expireDate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="extendHH" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="extendMM" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="testComment" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="allSystemsFlag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="allZonesFlag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="zonesList" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="authPin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="zoneStateID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="systemList" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="servtype_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="procName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="eventID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="alarmIncNo" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="server" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="eventDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ProcessDataElementRequest2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcessDataElementRequest2Result">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ProcessDataSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessData" />
  </wsdl:message>
  <wsdl:message name="ProcessDataSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessDataResponse" />
  </wsdl:message>
  <wsdl:message name="ProcessDataRequestSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessDataRequest" />
  </wsdl:message>
  <wsdl:message name="ProcessDataRequestSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessDataRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ProcessDataElementRequestSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessDataElementRequest" />
  </wsdl:message>
  <wsdl:message name="ProcessDataElementRequestSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessDataElementRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ProcessDataElementRequest2SoapIn">
    <wsdl:part name="parameters" element="tns:ProcessDataElementRequest2" />
  </wsdl:message>
  <wsdl:message name="ProcessDataElementRequest2SoapOut">
    <wsdl:part name="parameters" element="tns:ProcessDataElementRequest2Response" />
  </wsdl:message>
  <wsdl:portType name="NMCLinkPortalSoap">
    <wsdl:operation name="ProcessData">
      <wsdl:input message="tns:ProcessDataSoapIn" />
      <wsdl:output message="tns:ProcessDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcessDataRequest">
      <wsdl:input message="tns:ProcessDataRequestSoapIn" />
      <wsdl:output message="tns:ProcessDataRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcessDataElementRequest">
      <wsdl:input message="tns:ProcessDataElementRequestSoapIn" />
      <wsdl:output message="tns:ProcessDataElementRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcessDataElementRequest2">
      <wsdl:input message="tns:ProcessDataElementRequest2SoapIn" />
      <wsdl:output message="tns:ProcessDataElementRequest2SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NMCLinkPortalSoap" type="tns:NMCLinkPortalSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessData">
      <soap:operation soapAction="http://www.nmccentral.com/webservices/nmcmapi/ProcessData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessDataRequest">
      <soap:operation soapAction="http://www.nmccentral.com/webservices/nmcmapi/ProcessDataRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessDataElementRequest">
      <soap:operation soapAction="http://www.nmccentral.com/webservices/nmcmapi/ProcessDataElementRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessDataElementRequest2">
      <soap:operation soapAction="http://www.nmccentral.com/webservices/nmcmapi/ProcessDataElementRequest2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NMCLinkPortalSoap12" type="tns:NMCLinkPortalSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessData">
      <soap12:operation soapAction="http://www.nmccentral.com/webservices/nmcmapi/ProcessData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessDataRequest">
      <soap12:operation soapAction="http://www.nmccentral.com/webservices/nmcmapi/ProcessDataRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessDataElementRequest">
      <soap12:operation soapAction="http://www.nmccentral.com/webservices/nmcmapi/ProcessDataElementRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessDataElementRequest2">
      <soap12:operation soapAction="http://www.nmccentral.com/webservices/nmcmapi/ProcessDataElementRequest2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NMCLinkPortal">
    <wsdl:port name="NMCLinkPortalSoap" binding="tns:NMCLinkPortalSoap">
      <soap:address location="https://www.alarmaccount.com/NMCTestPortal/NMCLinkPortal.asmx" />
    </wsdl:port>
    <wsdl:port name="NMCLinkPortalSoap12" binding="tns:NMCLinkPortalSoap12">
      <soap12:address location="https://www.alarmaccount.com/NMCTestPortal/NMCLinkPortal.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>