HS.EContract/Connected Services/eContractApi/eContractAPI3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://mimasweb.monitronics.net/eContractAPI?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service.eContract" />
  <xs:import schemaLocation="https://mimasweb.monitronics.net/eContractAPI?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="APIVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="APIVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="APIVersionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="AuthenticateUserResult" nillable="true" type="q1:AuthenticationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="ContractData" nillable="true" type="q2:ContractDocument" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="PrimarySigningType" type="q3:SigningType" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="SecondarySigningType" type="q4:SigningType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="CreateContractResult" nillable="true" type="q5:CreateContractResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NextSigner">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="EnvelopeID" type="q6:guid" />
        <xs:element minOccurs="0" name="NextSigner" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NextSignerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NextSignerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VoidContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnvelopeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VoidContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="VoidContractResult" nillable="true" type="q7:VoidEnvelopeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractAsPrimary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnvelopeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractAsPrimaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="GetContractAsPrimaryResult" nillable="true" type="q8:ContractEnvelope" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendQuoteEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="ContractData" nillable="true" type="q9:ContractDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendQuoteEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendQuoteEmailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnvelopeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetContractIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUser2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUser2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="AuthenticateUser2Result" nillable="true" type="q10:AuthenticationResult2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateContract2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="ContractData" nillable="true" type="q11:ContractDocument2" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="PrimarySigningType" type="q12:SigningType" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="SecondarySigningType" type="q13:SigningType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateContract2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="CreateContract2Result" nillable="true" type="q14:CreateContractResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateContract2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="ContractData" nillable="true" type="q15:ContractDocument2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateContract2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="ValidateContract2Result" nillable="true" type="q16:ValidationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendQuoteEmail2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="ContractData" nillable="true" type="q17:ContractDocument2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendQuoteEmail2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendQuoteEmail2Result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadAttachment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Attachment" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="Tag" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadAttachmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadAttachmentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAttachment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AttachmentGUID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAttachmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAttachmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendNonSolicitAgreement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendNonSolicitAgreementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="SendNonSolicitAgreementResult" nillable="true" type="q18:GenericResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCreditAuthorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="TemplateData" nillable="true" type="q19:DocuSignTemplateCreditAuthDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCreditAuthorizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="SendCreditAuthorizationResult" nillable="true" type="q20:GenericResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendECommerceAgreement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="TemplateData" nillable="true" type="q21:DocuSignTemplateEcommerceAgreement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendECommerceAgreementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="SendECommerceAgreementResult" nillable="true" type="q22:SendDocusignTemplateResult2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterNotificationUrl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="notificationURL" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterNotificationUrlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="RegisterNotificationUrlResult" nillable="true" type="q23:GenericResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractReadyForArchival">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnvelopeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CSNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractReadyForArchivalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContractReadyForArchivalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResendEnvelope">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnvelopeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NewEmailAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NewRecipientFullName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResendEnvelopeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResendEnvelopeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCancelLetter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="TemplateData" nillable="true" type="q24:DocuSignTemplateCancelLetter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCancelLetterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="SendCancelLetterResult" nillable="true" type="q25:GenericResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnvelopeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="GetContractResult" nillable="true" type="q26:ContractEnvelope" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateContractConsumer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="ContractData" nillable="true" type="q27:ContractDocumentConsumer" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="PrimarySigningType" type="q28:SigningType" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="SecondarySigningType" type="q29:SigningType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateContractConsumerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="CreateContractConsumerResult" nillable="true" type="q30:CreateContractConsumerResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>