HS.EContract/Web References/net.monitronics.senti/eContractAPIUAT1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service.eContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service.eContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://senti.monitronics.net/eContractAPIUAT?xsd=xsd3" namespace="https://www.monitronics.net/WebServices/" />
  <xs:import schemaLocation="https://senti.monitronics.net/eContractAPIUAT?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/MoniNetSvc.BusinessEntities" />
  <xs:import schemaLocation="https://senti.monitronics.net/eContractAPIUAT?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="AuthenticationResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="OptionList" nillable="true" type="tns:ArrayOfOptionListing" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
      <xs:element minOccurs="0" name="ResultData" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="https://www.monitronics.net/WebServices/" minOccurs="0" name="dealerDBAs" nillable="true" type="q1:ArrayOfDealerDBA" />
      <xs:element xmlns:q2="https://www.monitronics.net/WebServices/" minOccurs="0" name="dealerEmails" nillable="true" type="q2:ArrayOfDealerEmail" />
      <xs:element xmlns:q3="https://www.monitronics.net/WebServices/" minOccurs="0" name="dealerInfo" nillable="true" type="q3:DealerInfo" />
      <xs:element minOccurs="0" name="dealerLicenseExpirationWarning" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dealerLicenseExpired" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dealerLicenseValid" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MoniNetSvc.BusinessEntities" minOccurs="0" name="dealerLicenses" nillable="true" type="q4:ArrayOfDealerLicense" />
      <xs:element xmlns:q5="https://www.monitronics.net/WebServices/" minOccurs="0" name="userInfo" nillable="true" type="q5:MoniNetUserInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticationResult" nillable="true" type="tns:AuthenticationResult" />
  <xs:complexType name="ArrayOfOptionListing">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OptionListing" nillable="true" type="tns:OptionListing" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOptionListing" nillable="true" type="tns:ArrayOfOptionListing" />
  <xs:complexType name="OptionListing">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FilterIndex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupOrState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptionID" type="xs:int" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OptionListing" nillable="true" type="tns:OptionListing" />
  <xs:complexType name="AuthenticationResult2">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AuthenticationResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Discounts" nillable="true" type="tns:ArrayOfProgramDiscounts" />
          <xs:element minOccurs="0" name="NonSolicitSigned" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AuthenticationResult2" nillable="true" type="tns:AuthenticationResult2" />
  <xs:complexType name="ArrayOfProgramDiscounts">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProgramDiscounts" nillable="true" type="tns:ProgramDiscounts" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProgramDiscounts" nillable="true" type="tns:ArrayOfProgramDiscounts" />
  <xs:complexType name="ProgramDiscounts">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgramCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgramID" type="xs:int" />
      <xs:element minOccurs="0" name="RMRDiscountAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="RMRDiscountCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RMRIsPercent" type="xs:boolean" />
      <xs:element minOccurs="0" name="ValidCountries" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidForCommercial" type="xs:boolean" />
      <xs:element minOccurs="0" name="ValidForResidential" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProgramDiscounts" nillable="true" type="tns:ProgramDiscounts" />
  <xs:complexType name="StatusSearch">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContractID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DealerEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DealerEmailSent" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DealerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DealerNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EffectiveDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EnvelopeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PremiseAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PremiseCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PremiseState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PremiseZip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SalesRepName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusSearchID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatusSearch" nillable="true" type="tns:StatusSearch" />
  <xs:complexType name="ArrayOfStatusSearch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StatusSearch" nillable="true" type="tns:StatusSearch" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStatusSearch" nillable="true" type="tns:ArrayOfStatusSearch" />
  <xs:complexType name="ContractDocument">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillStartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BillingAddress1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingAddress2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingCounty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingState" type="tns:StateProvinceEnum" />
      <xs:element minOccurs="0" name="BillingZip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyType" type="tns:CompanyTypes" />
      <xs:element minOccurs="0" name="ContactList" nillable="true" type="tns:ArrayOfContactItem" />
      <xs:element minOccurs="0" name="ContractID" type="xs:int" />
      <xs:element minOccurs="0" name="CountryOfSale" type="tns:CountryEnum" />
      <xs:element minOccurs="0" name="CustomerType" type="tns:CustomerTypeEnum" />
      <xs:element minOccurs="0" name="DealerPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DealerPersonID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DealerRedirectionURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DealerUsername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DraftDay" type="xs:int" />
      <xs:element minOccurs="0" name="EnvelopeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EquipmentAlarmNetwork" type="tns:AlarmNetworkEnum" />
      <xs:element minOccurs="0" name="EquipmentAlarmNetworkIncluded" type="xs:boolean" />
      <xs:element minOccurs="0" name="EquipmentList" nillable="true" type="tns:ArrayOfEquipmentItem" />
      <xs:element minOccurs="0" name="EquipmentOtherAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="EquipmentPermitAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="EquipmentSubtotalAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="EquipmentTaxAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="EquipmentTotalAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="GuardAddendumRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="InstallationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InstallationFinish" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InstallationStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InstallationWorkDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsurancePersonalInjuryAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="InsurancePropertyDamageAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Language" type="tns:ContractLanguageEnum" />
      <xs:element minOccurs="0" name="MonthsPaidUpFront" type="xs:int" />
      <xs:element minOccurs="0" name="PaymentCount" type="xs:int" />
      <xs:element minOccurs="0" name="PaymentEffectiveDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PaymentExtendedServiceOption" type="xs:boolean" />
      <xs:element minOccurs="0" name="PaymentInitial" nillable="true" type="tns:PaymentItem" />
      <xs:element minOccurs="0" name="PaymentMonthly" nillable="true" type="tns:PaymentItem" />
      <xs:element minOccurs="0" name="PaymentMonthlyMonitoringRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="PaymentOneTimeActivationFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="PremiseAddress1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PremiseAddress2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PremiseCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PremiseCounty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PremiseGateCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PremiseState" type="tns:StateProvinceEnum" />
      <xs:element minOccurs="0" name="PremiseZip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryBirthDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryTaxIDNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PromotionPeriod" type="xs:int" />
      <xs:element minOccurs="0" name="SecondaryBirthDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondaryEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondaryFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondaryLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondaryPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondaryTaxIDNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SurveyCancellingService" type="xs:boolean" />
      <xs:element minOccurs="0" name="SurveyConfirmContractLength" type="xs:boolean" />
      <xs:element minOccurs="0" name="SurveyFamiliarizationPeriod" type="xs:boolean" />
      <xs:element minOccurs="0" name="SurveyHomeowner" type="xs:boolean" />
      <xs:element minOccurs="0" name="SurveyNewConstruction" type="xs:boolean" />
      <xs:element minOccurs="0" name="SurveyUnderContract" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContractDocument" nillable="true" type="tns:ContractDocument" />
  <xs:simpleType name="StateProvinceEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AL" />
      <xs:enumeration value="AK" />
      <xs:enumeration value="AZ" />
      <xs:enumeration value="AR" />
      <xs:enumeration value="CA" />
      <xs:enumeration value="CO" />
      <xs:enumeration value="CT" />
      <xs:enumeration value="DE" />
      <xs:enumeration value="FL" />
      <xs:enumeration value="GA" />
      <xs:enumeration value="HI" />
      <xs:enumeration value="ID" />
      <xs:enumeration value="IL" />
      <xs:enumeration value="IN" />
      <xs:enumeration value="IA" />
      <xs:enumeration value="KS" />
      <xs:enumeration value="KY" />
      <xs:enumeration value="LA" />
      <xs:enumeration value="ME" />
      <xs:enumeration value="MD" />
      <xs:enumeration value="MA" />
      <xs:enumeration value="MI" />
      <xs:enumeration value="MN" />
      <xs:enumeration value="MS" />
      <xs:enumeration value="MO" />
      <xs:enumeration value="MT" />
      <xs:enumeration value="NE" />
      <xs:enumeration value="NV" />
      <xs:enumeration value="NH" />
      <xs:enumeration value="NJ" />
      <xs:enumeration value="NM" />
      <xs:enumeration value="NY" />
      <xs:enumeration value="NC" />
      <xs:enumeration value="ND" />
      <xs:enumeration value="OH" />
      <xs:enumeration value="OK" />
      <xs:enumeration value="OR" />
      <xs:enumeration value="PA" />
      <xs:enumeration value="RI" />
      <xs:enumeration value="SC" />
      <xs:enumeration value="SD" />
      <xs:enumeration value="TN" />
      <xs:enumeration value="TX" />
      <xs:enumeration value="UT" />
      <xs:enumeration value="VT" />
      <xs:enumeration value="VA" />
      <xs:enumeration value="WA" />
      <xs:enumeration value="WV" />
      <xs:enumeration value="WI" />
      <xs:enumeration value="WY" />
      <xs:enumeration value="AS" />
      <xs:enumeration value="DC" />
      <xs:enumeration value="FM" />
      <xs:enumeration value="GU" />
      <xs:enumeration value="MH" />
      <xs:enumeration value="MP" />
      <xs:enumeration value="PW" />
      <xs:enumeration value="PR" />
      <xs:enumeration value="VI" />
      <xs:enumeration value="AB" />
      <xs:enumeration value="BC" />
      <xs:enumeration value="MB" />
      <xs:enumeration value="NB" />
      <xs:enumeration value="NL" />
      <xs:enumeration value="NS" />
      <xs:enumeration value="NT" />
      <xs:enumeration value="NU" />
      <xs:enumeration value="ON" />
      <xs:enumeration value="PE" />
      <xs:enumeration value="QC" />
      <xs:enumeration value="SK" />
      <xs:enumeration value="YT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StateProvinceEnum" nillable="true" type="tns:StateProvinceEnum" />
  <xs:simpleType name="CompanyTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Corporation" />
      <xs:enumeration value="Proprietorship" />
      <xs:enumeration value="LLC" />
      <xs:enumeration value="Partnership" />
      <xs:enumeration value="None" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CompanyTypes" nillable="true" type="tns:CompanyTypes" />
  <xs:complexType name="ArrayOfContactItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactItem" nillable="true" type="tns:ContactItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContactItem" nillable="true" type="tns:ArrayOfContactItem" />
  <xs:complexType name="ContactItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ext" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneType" type="tns:PhoneTypeEnum" />
      <xs:element minOccurs="0" name="UserNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactItem" nillable="true" type="tns:ContactItem" />
  <xs:simpleType name="PhoneTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Home" />
      <xs:enumeration value="Cell" />
      <xs:enumeration value="Work" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PhoneTypeEnum" nillable="true" type="tns:PhoneTypeEnum" />
  <xs:simpleType name="CountryEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="US" />
      <xs:enumeration value="CA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CountryEnum" nillable="true" type="tns:CountryEnum" />
  <xs:simpleType name="CustomerTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Commercial" />
      <xs:enumeration value="Residential" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CustomerTypeEnum" nillable="true" type="tns:CustomerTypeEnum" />
  <xs:simpleType name="AlarmNetworkEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AlarmDotcom" />
      <xs:enumeration value="AlarmNet" />
      <xs:enumeration value="Tellular" />
      <xs:enumeration value="DSC" />
      <xs:enumeration value="icontrol" />
      <xs:enumeration value="None" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AlarmNetworkEnum" nillable="true" type="tns:AlarmNetworkEnum" />
  <xs:complexType name="ArrayOfEquipmentItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EquipmentItem" nillable="true" type="tns:EquipmentItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEquipmentItem" nillable="true" type="tns:ArrayOfEquipmentItem" />
  <xs:complexType name="EquipmentItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Points" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EquipmentItem" nillable="true" type="tns:EquipmentItem" />
  <xs:simpleType name="ContractLanguageEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="English" />
      <xs:enumeration value="Spanish" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ContractLanguageEnum" nillable="true" type="tns:ContractLanguageEnum" />
  <xs:complexType name="PaymentItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="BankAccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankRoutingNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CanadaRoutingBranch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CanadaRoutingInstitution" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditCardExpireMonth" type="xs:int" />
      <xs:element minOccurs="0" name="CreditCardExpireYear" type="xs:int" />
      <xs:element minOccurs="0" name="CreditCardNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditCardType" type="tns:CreditCardTypeEnum" />
      <xs:element minOccurs="0" name="PaymentType" type="tns:PaymentTypeEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentItem" nillable="true" type="tns:PaymentItem" />
  <xs:simpleType name="CreditCardTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Visa" />
      <xs:enumeration value="MasterCard" />
      <xs:enumeration value="Discover" />
      <xs:enumeration value="AmericanExpress" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CreditCardTypeEnum" nillable="true" type="tns:CreditCardTypeEnum" />
  <xs:simpleType name="PaymentTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Invoice" />
      <xs:enumeration value="BankAccount" />
      <xs:enumeration value="CreditCard" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PaymentTypeEnum" nillable="true" type="tns:PaymentTypeEnum" />
  <xs:complexType name="ContractDocument2">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ContractDocument">
        <xs:sequence>
          <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AttachmentGUIDListing" nillable="true" type="q6:ArrayOfstring" />
          <xs:element minOccurs="0" name="DiscountAmount" type="xs:decimal" />
          <xs:element minOccurs="0" name="DiscountMemberID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DiscountName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DiscountProgramID" type="xs:int" />
          <xs:element minOccurs="0" name="FullPriceRMR" type="xs:decimal" />
          <xs:element minOccurs="0" name="PGHomeAdddress1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PGHomeAdddress2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PGHomeCity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PGHomeState" type="tns:StateProvinceEnum" />
          <xs:element minOccurs="0" name="PGHomeZip" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PGTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PersonalGuaranteeRequired" type="xs:boolean" />
          <xs:element minOccurs="0" name="SigningLocation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SourceIPAddress" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ContractDocument2" nillable="true" type="tns:ContractDocument2" />
  <xs:complexType name="ContractDocumentConsumer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ContractDocument2">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContractEmailSubject" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContractTemplateType" type="tns:ContractTemplateTypes" />
          <xs:element minOccurs="0" name="ContractVersion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DealerNameOverride" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DealerNumberOverride" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DealerSalespersonNameOverride" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PerformCallbackToPartnerAPI" type="xs:boolean" />
          <xs:element minOccurs="0" name="TaxExemptID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ContractDocumentConsumer" nillable="true" type="tns:ContractDocumentConsumer" />
  <xs:simpleType name="ContractTemplateTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="Nest" />
      <xs:enumeration value="TMobile" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ContractTemplateTypes" nillable="true" type="tns:ContractTemplateTypes" />
  <xs:simpleType name="SigningType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Embedded" />
      <xs:enumeration value="Remote" />
      <xs:enumeration value="None" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SigningType" nillable="true" type="tns:SigningType" />
  <xs:complexType name="CreateContractResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="EnvelopeID" nillable="true" type="xs:string" />
      <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FaultFields" nillable="true" type="q7:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
      <xs:element minOccurs="0" name="ResultData" nillable="true" type="xs:string" />
      <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SigningURL" nillable="true" type="q8:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateContractResult" nillable="true" type="tns:CreateContractResult" />
  <xs:complexType name="VoidEnvelopeResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
      <xs:element minOccurs="0" name="ResultData" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VoidEnvelopeResult" nillable="true" type="tns:VoidEnvelopeResult" />
  <xs:complexType name="ContractEnvelope">
    <xs:sequence>
      <xs:element minOccurs="0" name="EnvelopeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDFBytes" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContractEnvelope" nillable="true" type="tns:ContractEnvelope" />
  <xs:complexType name="CreateContractConsumerResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="EnvelopeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Errors" nillable="true" type="tns:ErrorResponse" />
      <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SigningURL" nillable="true" type="q9:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateContractConsumerResult" nillable="true" type="tns:CreateContractConsumerResult" />
  <xs:complexType name="ErrorResponse">
    <xs:sequence>
      <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AdditionalInformation" nillable="true" type="q10:ArrayOfKeyValueOfstringanyType" />
      <xs:element minOccurs="0" name="ErrorCode" type="tns:ErrorType" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorResponse" nillable="true" type="tns:ErrorResponse" />
  <xs:simpleType name="ErrorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Failed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ErrorType" nillable="true" type="tns:ErrorType" />
  <xs:complexType name="ValidationResult">
    <xs:sequence>
      <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FaultFields" nillable="true" type="q11:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
      <xs:element minOccurs="0" name="ResultData" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidationResult" nillable="true" type="tns:ValidationResult" />
  <xs:complexType name="GenericResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
      <xs:element minOccurs="0" name="ResultData" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericResult" nillable="true" type="tns:GenericResult" />
  <xs:complexType name="DocuSignTemplateCreditAuthDocument">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DocuSignTemplateBaseObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DealerPortalPassword" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DealerPortalUsername" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DocumentStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PrimaryBirthDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PrimaryPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PrimaryTaxIDNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProspectID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SecondaryBirthDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SecondaryPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SecondaryTaxIDNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="State" type="tns:StateProvinceEnum" />
          <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DocuSignTemplateCreditAuthDocument" nillable="true" type="tns:DocuSignTemplateCreditAuthDocument" />
  <xs:complexType name="DocuSignTemplateBaseObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="DealerNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocSignatures" nillable="true" type="tns:ArrayOfDocumentSignatures" />
      <xs:element minOccurs="0" name="EmailBody" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailReplyToOverrideEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailReplyToOverrideName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailSubject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnvelopeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TemplateKeyValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TemplateType" type="tns:DocuSignTemplateTypes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocuSignTemplateBaseObject" nillable="true" type="tns:DocuSignTemplateBaseObject" />
  <xs:complexType name="ArrayOfDocumentSignatures">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentSignatures" nillable="true" type="tns:DocumentSignatures" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentSignatures" nillable="true" type="tns:ArrayOfDocumentSignatures" />
  <xs:complexType name="DocumentSignatures">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignType" type="tns:SigningType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentSignatures" nillable="true" type="tns:DocumentSignatures" />
  <xs:simpleType name="DocuSignTemplateTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NonSolicitAgreement" />
      <xs:enumeration value="CreditAuthorization" />
      <xs:enumeration value="CancelLetter" />
      <xs:enumeration value="EcommerceAgreement" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DocuSignTemplateTypes" nillable="true" type="tns:DocuSignTemplateTypes" />
  <xs:complexType name="DocuSignTemplateEcommerceAgreement">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DocuSignTemplateBaseObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="bill_freq" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="contact_person" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="current_date" type="xs:dateTime" />
          <xs:element minOccurs="0" name="customer_name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="customfield_order_id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="customfield_order_token" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="desktop_format" type="xs:boolean" />
          <xs:element minOccurs="0" name="effective_date" type="xs:dateTime" />
          <xs:element minOccurs="0" name="initial_charge" type="xs:decimal" />
          <xs:element minOccurs="0" name="plan" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="rate" type="xs:decimal" />
          <xs:element minOccurs="0" name="redirecturl_after_signing" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="renew_term" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="term" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="term_end_date" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DocuSignTemplateEcommerceAgreement" nillable="true" type="tns:DocuSignTemplateEcommerceAgreement" />
  <xs:complexType name="DocuSignTemplateNonSolicitAgreement">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DocuSignTemplateBaseObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DealerName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DealerPortalUsername" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="State" type="tns:StateProvinceEnum" />
          <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DocuSignTemplateNonSolicitAgreement" nillable="true" type="tns:DocuSignTemplateNonSolicitAgreement" />
  <xs:complexType name="DocuSignTemplateCancelLetter">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DocuSignTemplateBaseObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContractNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerEmail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DealerPortalPassword" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DealerPortalUsername" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DocumentStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SiteNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DocuSignTemplateCancelLetter" nillable="true" type="tns:DocuSignTemplateCancelLetter" />
  <xs:complexType name="SendDocusignTemplateResult2">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SendDocusignTemplateResult">
        <xs:sequence>
          <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SigningURL" nillable="true" type="q12:ArrayOfstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SendDocusignTemplateResult2" nillable="true" type="tns:SendDocusignTemplateResult2" />
  <xs:complexType name="SendDocusignTemplateResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="EnvelopeID" nillable="true" type="xs:string" />
      <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FaultFields" nillable="true" type="q13:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
      <xs:element minOccurs="0" name="ResultData" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendDocusignTemplateResult" nillable="true" type="tns:SendDocusignTemplateResult" />
</xs:schema>