HS.EContract/Web References/net.monitronics.senti/eContractAPIUAT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://schemas.nevatech.com/services/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="eContractAPIUAT" targetNamespace="http://schemas.nevatech.com/services/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="eContractAPIUAT_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false">
                </sp:HttpsToken>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic128>
                </sp:Basic128>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax>
                </sp:Lax>
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp>
            </sp:IncludeTimestamp>
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10>
                </sp:WssUsernameToken10>
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
          </wsp:Policy>
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens>
            </sp:MustSupportIssuedTokens>
            <sp:RequireClientEntropy>
            </sp:RequireClientEntropy>
            <sp:RequireServerEntropy>
            </sp:RequireServerEntropy>
          </wsp:Policy>
        </sp:Trust10>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="eContractAPIUAT_brinks_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false">
                </sp:HttpsToken>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic128>
                </sp:Basic128>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax>
                </sp:Lax>
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp>
            </sp:IncludeTimestamp>
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10>
                </sp:WssUsernameToken10>
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
          </wsp:Policy>
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens>
            </sp:MustSupportIssuedTokens>
            <sp:RequireClientEntropy>
            </sp:RequireClientEntropy>
            <sp:RequireServerEntropy>
            </sp:RequireServerEntropy>
          </wsp:Policy>
        </sp:Trust10>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <schema targetNamespace="http://schemas.nevatech.com/services/Imports" xmlns="http://www.w3.org/2001/XMLSchema">
      <import schemaLocation="https://senti.monitronics.net/eContractAPIUAT?xsd=xsd0" namespace="http://tempuri.org/" />
      <import schemaLocation="https://senti.monitronics.net/eContractAPIUAT?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <import schemaLocation="https://senti.monitronics.net/eContractAPIUAT?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service.eContract" />
      <import schemaLocation="https://senti.monitronics.net/eContractAPIUAT?xsd=xsd3" namespace="https://www.monitronics.net/WebServices/" />
      <import schemaLocation="https://senti.monitronics.net/eContractAPIUAT?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/MoniNetSvc.BusinessEntities" />
      <import schemaLocation="https://senti.monitronics.net/eContractAPIUAT?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <import schemaLocation="https://senti.monitronics.net/eContractAPIUAT?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Service.eContract.CreditAuth" />
    </schema>
  </wsdl:types>
  <wsdl:message name="IVirtualInterface_APIVersion_InputMessage">
    <wsdl:part xmlns:q1="http://tempuri.org/" name="parameters" element="q1:APIVersion" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_APIVersion_OutputMessage">
    <wsdl:part xmlns:q2="http://tempuri.org/" name="parameters" element="q2:APIVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_AuthenticateUser_InputMessage">
    <wsdl:part xmlns:q3="http://tempuri.org/" name="parameters" element="q3:AuthenticateUser" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_AuthenticateUser_OutputMessage">
    <wsdl:part xmlns:q4="http://tempuri.org/" name="parameters" element="q4:AuthenticateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_SearchContracts_InputMessage">
    <wsdl:part xmlns:q5="http://tempuri.org/" name="parameters" element="q5:SearchContracts" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_SearchContracts_OutputMessage">
    <wsdl:part xmlns:q6="http://tempuri.org/" name="parameters" element="q6:SearchContractsResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_CreateContract_InputMessage">
    <wsdl:part xmlns:q7="http://tempuri.org/" name="parameters" element="q7:CreateContract" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_CreateContract_OutputMessage">
    <wsdl:part xmlns:q8="http://tempuri.org/" name="parameters" element="q8:CreateContractResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_NextSigner_InputMessage">
    <wsdl:part xmlns:q9="http://tempuri.org/" name="parameters" element="q9:NextSigner" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_NextSigner_OutputMessage">
    <wsdl:part xmlns:q10="http://tempuri.org/" name="parameters" element="q10:NextSignerResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_VoidContract_InputMessage">
    <wsdl:part xmlns:q11="http://tempuri.org/" name="parameters" element="q11:VoidContract" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_VoidContract_OutputMessage">
    <wsdl:part xmlns:q12="http://tempuri.org/" name="parameters" element="q12:VoidContractResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_GetContract_InputMessage">
    <wsdl:part xmlns:q13="http://tempuri.org/" name="parameters" element="q13:GetContract" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_GetContract_OutputMessage">
    <wsdl:part xmlns:q14="http://tempuri.org/" name="parameters" element="q14:GetContractResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_GetContractAsPrimary_InputMessage">
    <wsdl:part xmlns:q15="http://tempuri.org/" name="parameters" element="q15:GetContractAsPrimary" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_GetContractAsPrimary_OutputMessage">
    <wsdl:part xmlns:q16="http://tempuri.org/" name="parameters" element="q16:GetContractAsPrimaryResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_SendQuoteEmail_InputMessage">
    <wsdl:part xmlns:q17="http://tempuri.org/" name="parameters" element="q17:SendQuoteEmail" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_SendQuoteEmail_OutputMessage">
    <wsdl:part xmlns:q18="http://tempuri.org/" name="parameters" element="q18:SendQuoteEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_GetContractID_InputMessage">
    <wsdl:part xmlns:q19="http://tempuri.org/" name="parameters" element="q19:GetContractID" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_GetContractID_OutputMessage">
    <wsdl:part xmlns:q20="http://tempuri.org/" name="parameters" element="q20:GetContractIDResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_AuthenticateUser2_InputMessage">
    <wsdl:part xmlns:q21="http://tempuri.org/" name="parameters" element="q21:AuthenticateUser2" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_AuthenticateUser2_OutputMessage">
    <wsdl:part xmlns:q22="http://tempuri.org/" name="parameters" element="q22:AuthenticateUser2Response" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_CreateContract2_InputMessage">
    <wsdl:part xmlns:q23="http://tempuri.org/" name="parameters" element="q23:CreateContract2" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_CreateContract2_OutputMessage">
    <wsdl:part xmlns:q24="http://tempuri.org/" name="parameters" element="q24:CreateContract2Response" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_CreateContractConsumer_InputMessage">
    <wsdl:part xmlns:q25="http://tempuri.org/" name="parameters" element="q25:CreateContractConsumer" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_CreateContractConsumer_OutputMessage">
    <wsdl:part xmlns:q26="http://tempuri.org/" name="parameters" element="q26:CreateContractConsumerResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_GetPerformCallbackToPartnerAPIFlag_InputMessage">
    <wsdl:part xmlns:q27="http://tempuri.org/" name="parameters" element="q27:GetPerformCallbackToPartnerAPIFlag" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_GetPerformCallbackToPartnerAPIFlag_OutputMessage">
    <wsdl:part xmlns:q28="http://tempuri.org/" name="parameters" element="q28:GetPerformCallbackToPartnerAPIFlagResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_ValidateContract2_InputMessage">
    <wsdl:part xmlns:q29="http://tempuri.org/" name="parameters" element="q29:ValidateContract2" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_ValidateContract2_OutputMessage">
    <wsdl:part xmlns:q30="http://tempuri.org/" name="parameters" element="q30:ValidateContract2Response" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_SendQuoteEmail2_InputMessage">
    <wsdl:part xmlns:q31="http://tempuri.org/" name="parameters" element="q31:SendQuoteEmail2" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_SendQuoteEmail2_OutputMessage">
    <wsdl:part xmlns:q32="http://tempuri.org/" name="parameters" element="q32:SendQuoteEmail2Response" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_UploadAttachment_InputMessage">
    <wsdl:part xmlns:q33="http://tempuri.org/" name="parameters" element="q33:UploadAttachment" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_UploadAttachment_OutputMessage">
    <wsdl:part xmlns:q34="http://tempuri.org/" name="parameters" element="q34:UploadAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_DeleteAttachment_InputMessage">
    <wsdl:part xmlns:q35="http://tempuri.org/" name="parameters" element="q35:DeleteAttachment" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_DeleteAttachment_OutputMessage">
    <wsdl:part xmlns:q36="http://tempuri.org/" name="parameters" element="q36:DeleteAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_SendNonSolicitAgreement_InputMessage">
    <wsdl:part xmlns:q37="http://tempuri.org/" name="parameters" element="q37:SendNonSolicitAgreement" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_SendNonSolicitAgreement_OutputMessage">
    <wsdl:part xmlns:q38="http://tempuri.org/" name="parameters" element="q38:SendNonSolicitAgreementResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_SendCreditAuthorization_InputMessage">
    <wsdl:part xmlns:q39="http://tempuri.org/" name="parameters" element="q39:SendCreditAuthorization" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_SendCreditAuthorization_OutputMessage">
    <wsdl:part xmlns:q40="http://tempuri.org/" name="parameters" element="q40:SendCreditAuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_SendECommerceAgreement_InputMessage">
    <wsdl:part xmlns:q41="http://tempuri.org/" name="parameters" element="q41:SendECommerceAgreement" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_SendECommerceAgreement_OutputMessage">
    <wsdl:part xmlns:q42="http://tempuri.org/" name="parameters" element="q42:SendECommerceAgreementResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_RegisterNotificationUrl_InputMessage">
    <wsdl:part xmlns:q43="http://tempuri.org/" name="parameters" element="q43:RegisterNotificationUrl" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_RegisterNotificationUrl_OutputMessage">
    <wsdl:part xmlns:q44="http://tempuri.org/" name="parameters" element="q44:RegisterNotificationUrlResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_ContractReadyForArchival_InputMessage">
    <wsdl:part xmlns:q45="http://tempuri.org/" name="parameters" element="q45:ContractReadyForArchival" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_ContractReadyForArchival_OutputMessage">
    <wsdl:part xmlns:q46="http://tempuri.org/" name="parameters" element="q46:ContractReadyForArchivalResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_ResendEnvelope_InputMessage">
    <wsdl:part xmlns:q47="http://tempuri.org/" name="parameters" element="q47:ResendEnvelope" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_ResendEnvelope_OutputMessage">
    <wsdl:part xmlns:q48="http://tempuri.org/" name="parameters" element="q48:ResendEnvelopeResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_SearchCreditAuth_InputMessage">
    <wsdl:part xmlns:q49="http://tempuri.org/" name="parameters" element="q49:SearchCreditAuth" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_SearchCreditAuth_OutputMessage">
    <wsdl:part xmlns:q50="http://tempuri.org/" name="parameters" element="q50:SearchCreditAuthResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_SendCancelLetter_InputMessage">
    <wsdl:part xmlns:q51="http://tempuri.org/" name="parameters" element="q51:SendCancelLetter" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_SendCancelLetter_OutputMessage">
    <wsdl:part xmlns:q52="http://tempuri.org/" name="parameters" element="q52:SendCancelLetterResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_GetContractDocumentConsumer_InputMessage">
    <wsdl:part xmlns:q53="http://tempuri.org/" name="parameters" element="q53:GetContractDocumentConsumer" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_GetContractDocumentConsumer_OutputMessage">
    <wsdl:part xmlns:q54="http://tempuri.org/" name="parameters" element="q54:GetContractDocumentConsumerResponse" />
  </wsdl:message>
  <wsdl:portType name="IVirtualInterface">
    <wsdl:operation name="APIVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/IeContract/APIVersion" message="tns:IVirtualInterface_APIVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IeContract/APIVersionResponse" message="tns:IVirtualInterface_APIVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IeContract/AuthenticateUser" message="tns:IVirtualInterface_AuthenticateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IeContract/AuthenticateUserResponse" message="tns:IVirtualInterface_AuthenticateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchContracts">
      <wsdl:input wsaw:Action="http://tempuri.org/IeContract/SearchContracts" message="tns:IVirtualInterface_SearchContracts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IeContract/SearchContractsResponse" message="tns:IVirtualInterface_SearchContracts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IeContract/CreateContract" message="tns:IVirtualInterface_CreateContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IeContract/CreateContractResponse" message="tns:IVirtualInterface_CreateContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NextSigner">
      <wsdl:input wsaw:Action="http://tempuri.org/IeContract/NextSigner" message="tns:IVirtualInterface_NextSigner_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IeContract/NextSignerResponse" message="tns:IVirtualInterface_NextSigner_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VoidContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IeContract/VoidContract" message="tns:IVirtualInterface_VoidContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IeContract/VoidContractResponse" message="tns:IVirtualInterface_VoidContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IeContract/GetContract" message="tns:IVirtualInterface_GetContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IeContract/GetContractResponse" message="tns:IVirtualInterface_GetContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContractAsPrimary">
      <wsdl:input wsaw:Action="http://tempuri.org/IeContract/GetContractAsPrimary" message="tns:IVirtualInterface_GetContractAsPrimary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IeContract/GetContractAsPrimaryResponse" message="tns:IVirtualInterface_GetContractAsPrimary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendQuoteEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IeContract/SendQuoteEmail" message="tns:IVirtualInterface_SendQuoteEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IeContract/SendQuoteEmailResponse" message="tns:IVirtualInterface_SendQuoteEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContractID">
      <wsdl:input wsaw:Action="http://tempuri.org/IeContract/GetContractID" message="tns:IVirtualInterface_GetContractID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IeContract/GetContractIDResponse" message="tns:IVirtualInterface_GetContractID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser2">
      <wsdl:input wsaw:Action="http://tempuri.org/IeContract/AuthenticateUser2" message="tns:IVirtualInterface_AuthenticateUser2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IeContract/AuthenticateUser2Response" message="tns:IVirtualInterface_AuthenticateUser2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateContract2">
      <wsdl:input wsaw:Action="http://tempuri.org/IeContract/CreateContract2" message="tns:IVirtualInterface_CreateContract2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IeContract/CreateContract2Response" message="tns:IVirtualInterface_CreateContract2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateContractConsumer">
      <wsdl:input wsaw:Action="http://tempuri.org/IeContract/CreateContractConsumer" message="tns:IVirtualInterface_CreateContractConsumer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IeContract/CreateContractConsumerResponse" message="tns:IVirtualInterface_CreateContractConsumer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPerformCallbackToPartnerAPIFlag">
      <wsdl:input wsaw:Action="http://tempuri.org/IeContract/GetPerformCallbackToPartnerAPIFlag" message="tns:IVirtualInterface_GetPerformCallbackToPartnerAPIFlag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IeContract/GetPerformCallbackToPartnerAPIFlagResponse" message="tns:IVirtualInterface_GetPerformCallbackToPartnerAPIFlag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateContract2">
      <wsdl:input wsaw:Action="http://tempuri.org/IeContract/ValidateContract2" message="tns:IVirtualInterface_ValidateContract2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IeContract/ValidateContract2Response" message="tns:IVirtualInterface_ValidateContract2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendQuoteEmail2">
      <wsdl:input wsaw:Action="http://tempuri.org/IeContract/SendQuoteEmail2" message="tns:IVirtualInterface_SendQuoteEmail2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IeContract/SendQuoteEmail2Response" message="tns:IVirtualInterface_SendQuoteEmail2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadAttachment">
      <wsdl:input wsaw:Action="http://tempuri.org/IeContract/UploadAttachment" message="tns:IVirtualInterface_UploadAttachment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IeContract/UploadAttachmentResponse" message="tns:IVirtualInterface_UploadAttachment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAttachment">
      <wsdl:input wsaw:Action="http://tempuri.org/IeContract/DeleteAttachment" message="tns:IVirtualInterface_DeleteAttachment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IeContract/DeleteAttachmentResponse" message="tns:IVirtualInterface_DeleteAttachment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendNonSolicitAgreement">
      <wsdl:input wsaw:Action="http://tempuri.org/IeContract/SendNonSolicitAgreement" message="tns:IVirtualInterface_SendNonSolicitAgreement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IeContract/SendNonSolicitAgreementResponse" message="tns:IVirtualInterface_SendNonSolicitAgreement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendCreditAuthorization">
      <wsdl:input wsaw:Action="http://tempuri.org/IeContract/SendCreditAuthorization" message="tns:IVirtualInterface_SendCreditAuthorization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IeContract/SendCreditAuthorizationResponse" message="tns:IVirtualInterface_SendCreditAuthorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendECommerceAgreement">
      <wsdl:input wsaw:Action="http://tempuri.org/IeContract/SendECommerceAgreement" message="tns:IVirtualInterface_SendECommerceAgreement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IeContract/SendECommerceAgreementResponse" message="tns:IVirtualInterface_SendECommerceAgreement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterNotificationUrl">
      <wsdl:input wsaw:Action="http://tempuri.org/IeContract/RegisterNotificationUrl" message="tns:IVirtualInterface_RegisterNotificationUrl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IeContract/RegisterNotificationUrlResponse" message="tns:IVirtualInterface_RegisterNotificationUrl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ContractReadyForArchival">
      <wsdl:input wsaw:Action="http://tempuri.org/IeContract/ContractReadyForArchival" message="tns:IVirtualInterface_ContractReadyForArchival_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IeContract/ContractReadyForArchivalResponse" message="tns:IVirtualInterface_ContractReadyForArchival_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResendEnvelope">
      <wsdl:input wsaw:Action="http://tempuri.org/IeContract/ResendEnvelope" message="tns:IVirtualInterface_ResendEnvelope_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IeContract/ResendEnvelopeResponse" message="tns:IVirtualInterface_ResendEnvelope_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchCreditAuth">
      <wsdl:input wsaw:Action="http://tempuri.org/IeContract/SearchCreditAuth" message="tns:IVirtualInterface_SearchCreditAuth_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IeContract/SearchCreditAuthResponse" message="tns:IVirtualInterface_SearchCreditAuth_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendCancelLetter">
      <wsdl:input wsaw:Action="http://tempuri.org/IeContract/SendCancelLetter" message="tns:IVirtualInterface_SendCancelLetter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IeContract/SendCancelLetterResponse" message="tns:IVirtualInterface_SendCancelLetter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContractDocumentConsumer">
      <wsdl:input wsaw:Action="http://tempuri.org/IeContract/GetContractDocumentConsumer" message="tns:IVirtualInterface_GetContractDocumentConsumer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IeContract/GetContractDocumentConsumerResponse" message="tns:IVirtualInterface_GetContractDocumentConsumer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="eContractAPIUAT" type="tns:IVirtualInterface">
    <wsp:PolicyReference URI="#eContractAPIUAT_policy">
    </wsp:PolicyReference>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="APIVersion">
      <soap:operation soapAction="http://tempuri.org/IeContract/APIVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <soap:operation soapAction="http://tempuri.org/IeContract/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchContracts">
      <soap:operation soapAction="http://tempuri.org/IeContract/SearchContracts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateContract">
      <soap:operation soapAction="http://tempuri.org/IeContract/CreateContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NextSigner">
      <soap:operation soapAction="http://tempuri.org/IeContract/NextSigner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoidContract">
      <soap:operation soapAction="http://tempuri.org/IeContract/VoidContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContract">
      <soap:operation soapAction="http://tempuri.org/IeContract/GetContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractAsPrimary">
      <soap:operation soapAction="http://tempuri.org/IeContract/GetContractAsPrimary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendQuoteEmail">
      <soap:operation soapAction="http://tempuri.org/IeContract/SendQuoteEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractID">
      <soap:operation soapAction="http://tempuri.org/IeContract/GetContractID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser2">
      <soap:operation soapAction="http://tempuri.org/IeContract/AuthenticateUser2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateContract2">
      <soap:operation soapAction="http://tempuri.org/IeContract/CreateContract2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateContractConsumer">
      <soap:operation soapAction="http://tempuri.org/IeContract/CreateContractConsumer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPerformCallbackToPartnerAPIFlag">
      <soap:operation soapAction="http://tempuri.org/IeContract/GetPerformCallbackToPartnerAPIFlag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateContract2">
      <soap:operation soapAction="http://tempuri.org/IeContract/ValidateContract2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendQuoteEmail2">
      <soap:operation soapAction="http://tempuri.org/IeContract/SendQuoteEmail2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadAttachment">
      <soap:operation soapAction="http://tempuri.org/IeContract/UploadAttachment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAttachment">
      <soap:operation soapAction="http://tempuri.org/IeContract/DeleteAttachment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendNonSolicitAgreement">
      <soap:operation soapAction="http://tempuri.org/IeContract/SendNonSolicitAgreement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCreditAuthorization">
      <soap:operation soapAction="http://tempuri.org/IeContract/SendCreditAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendECommerceAgreement">
      <soap:operation soapAction="http://tempuri.org/IeContract/SendECommerceAgreement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterNotificationUrl">
      <soap:operation soapAction="http://tempuri.org/IeContract/RegisterNotificationUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ContractReadyForArchival">
      <soap:operation soapAction="http://tempuri.org/IeContract/ContractReadyForArchival" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResendEnvelope">
      <soap:operation soapAction="http://tempuri.org/IeContract/ResendEnvelope" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchCreditAuth">
      <soap:operation soapAction="http://tempuri.org/IeContract/SearchCreditAuth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCancelLetter">
      <soap:operation soapAction="http://tempuri.org/IeContract/SendCancelLetter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractDocumentConsumer">
      <soap:operation soapAction="http://tempuri.org/IeContract/GetContractDocumentConsumer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="eContractAPIUAT_brinks" type="tns:IVirtualInterface">
    <wsp:PolicyReference URI="#eContractAPIUAT_brinks_policy">
    </wsp:PolicyReference>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="APIVersion">
      <soap:operation soapAction="http://tempuri.org/IeContract/APIVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <soap:operation soapAction="http://tempuri.org/IeContract/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchContracts">
      <soap:operation soapAction="http://tempuri.org/IeContract/SearchContracts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateContract">
      <soap:operation soapAction="http://tempuri.org/IeContract/CreateContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NextSigner">
      <soap:operation soapAction="http://tempuri.org/IeContract/NextSigner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoidContract">
      <soap:operation soapAction="http://tempuri.org/IeContract/VoidContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContract">
      <soap:operation soapAction="http://tempuri.org/IeContract/GetContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractAsPrimary">
      <soap:operation soapAction="http://tempuri.org/IeContract/GetContractAsPrimary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendQuoteEmail">
      <soap:operation soapAction="http://tempuri.org/IeContract/SendQuoteEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractID">
      <soap:operation soapAction="http://tempuri.org/IeContract/GetContractID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser2">
      <soap:operation soapAction="http://tempuri.org/IeContract/AuthenticateUser2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateContract2">
      <soap:operation soapAction="http://tempuri.org/IeContract/CreateContract2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateContractConsumer">
      <soap:operation soapAction="http://tempuri.org/IeContract/CreateContractConsumer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPerformCallbackToPartnerAPIFlag">
      <soap:operation soapAction="http://tempuri.org/IeContract/GetPerformCallbackToPartnerAPIFlag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateContract2">
      <soap:operation soapAction="http://tempuri.org/IeContract/ValidateContract2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendQuoteEmail2">
      <soap:operation soapAction="http://tempuri.org/IeContract/SendQuoteEmail2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadAttachment">
      <soap:operation soapAction="http://tempuri.org/IeContract/UploadAttachment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAttachment">
      <soap:operation soapAction="http://tempuri.org/IeContract/DeleteAttachment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendNonSolicitAgreement">
      <soap:operation soapAction="http://tempuri.org/IeContract/SendNonSolicitAgreement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCreditAuthorization">
      <soap:operation soapAction="http://tempuri.org/IeContract/SendCreditAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendECommerceAgreement">
      <soap:operation soapAction="http://tempuri.org/IeContract/SendECommerceAgreement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterNotificationUrl">
      <soap:operation soapAction="http://tempuri.org/IeContract/RegisterNotificationUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ContractReadyForArchival">
      <soap:operation soapAction="http://tempuri.org/IeContract/ContractReadyForArchival" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResendEnvelope">
      <soap:operation soapAction="http://tempuri.org/IeContract/ResendEnvelope" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchCreditAuth">
      <soap:operation soapAction="http://tempuri.org/IeContract/SearchCreditAuth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCancelLetter">
      <soap:operation soapAction="http://tempuri.org/IeContract/SendCancelLetter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractDocumentConsumer">
      <soap:operation soapAction="http://tempuri.org/IeContract/GetContractDocumentConsumer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="eContractAPIUAT">
    <wsdl:port name="eContractAPIUAT" binding="tns:eContractAPIUAT">
      <soap:address location="https://senti.monitronics.net/eContractAPIUAT" />
    </wsdl:port>
    <wsdl:port name="eContractAPIUAT_brinks" binding="tns:eContractAPIUAT_brinks">
      <soap:address location="https://sentistg.brinkshome.com/eContractAPIUAT" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>