HS.EContract/Web References/net.monitronics.senti/eContractAPIUAT3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MoniNetSvc.BusinessEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MoniNetSvc.BusinessEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDealerLicense">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DealerLicense" nillable="true" type="tns:DealerLicense" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDealerLicense" nillable="true" type="tns:ArrayOfDealerLicense" />
  <xs:complexType name="DealerLicense">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExpireDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LicenseNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LicenseType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LicensedState" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DealerLicense" nillable="true" type="tns:DealerLicense" />
</xs:schema>