HS.EContract/Web References/net.monitronics.senti/eContractAPIUAT5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service.eContract.CreditAuth" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service.eContract.CreditAuth" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CreditAuthHeader">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreditAuthHeaderID" type="xs:int" />
      <xs:element minOccurs="0" name="DateAdded" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateUpdated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DealerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DealerNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DealerSalesperson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DealerUsername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnvelopeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PremiseAddress1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PremiseAddress2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PremiseCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PremiseCounty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PremiseState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PremiseZip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProspectID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondaryEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondaryFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondaryLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondaryPhone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditAuthHeader" nillable="true" type="tns:CreditAuthHeader" />
  <xs:complexType name="ArrayOfCreditAuthHeader">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CreditAuthHeader" nillable="true" type="tns:CreditAuthHeader" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCreditAuthHeader" nillable="true" type="tns:ArrayOfCreditAuthHeader" />
</xs:schema>