HS.EContract/Web References/net.monitronics.senti/eContractAPIUAT.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://senti.monitronics.net/eContractAPIUAT?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service.eContract" />
  <xs:import schemaLocation="https://senti.monitronics.net/eContractAPIUAT?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="https://senti.monitronics.net/eContractAPIUAT?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Service.eContract.CreditAuth" />
  <xs:element name="APIVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="APIVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="APIVersionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="AuthenticateUserResult" nillable="true" type="q1:AuthenticationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchContracts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="SearchCriteria" nillable="true" type="q2:StatusSearch" />
        <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchContractsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="SearchContractsResult" nillable="true" type="q3:ArrayOfStatusSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="ContractData" nillable="true" type="q4:ContractDocument" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="PrimarySigningType" type="q5:SigningType" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="SecondarySigningType" type="q6:SigningType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="CreateContractResult" nillable="true" type="q7:CreateContractResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NextSigner">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="EnvelopeID" type="q8:guid" />
        <xs:element minOccurs="0" name="NextSigner" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NextSignerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NextSignerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VoidContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnvelopeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VoidContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="VoidContractResult" nillable="true" type="q9:VoidEnvelopeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnvelopeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="GetContractResult" nillable="true" type="q10:ContractEnvelope" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractAsPrimary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnvelopeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractAsPrimaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="GetContractAsPrimaryResult" nillable="true" type="q11:ContractEnvelope" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendQuoteEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="ContractData" nillable="true" type="q12:ContractDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendQuoteEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendQuoteEmailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnvelopeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetContractIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUser2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUser2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="AuthenticateUser2Result" nillable="true" type="q13:AuthenticationResult2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateContract2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="ContractData" nillable="true" type="q14:ContractDocument2" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="PrimarySigningType" type="q15:SigningType" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="SecondarySigningType" type="q16:SigningType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateContract2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="CreateContract2Result" nillable="true" type="q17:CreateContractResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateContractConsumer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="ContractData" nillable="true" type="q18:ContractDocumentConsumer" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="PrimarySigningType" type="q19:SigningType" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="SecondarySigningType" type="q20:SigningType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateContractConsumerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="CreateContractConsumerResult" nillable="true" type="q21:CreateContractConsumerResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerformCallbackToPartnerAPIFlag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnvelopeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerformCallbackToPartnerAPIFlagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPerformCallbackToPartnerAPIFlagResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateContract2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="ContractData" nillable="true" type="q22:ContractDocument2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateContract2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="ValidateContract2Result" nillable="true" type="q23:ValidationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendQuoteEmail2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="ContractData" nillable="true" type="q24:ContractDocument2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendQuoteEmail2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendQuoteEmail2Result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadAttachment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Attachment" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="Tag" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadAttachmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadAttachmentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAttachment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AttachmentGUID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAttachmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAttachmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendNonSolicitAgreement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendNonSolicitAgreementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="SendNonSolicitAgreementResult" nillable="true" type="q25:GenericResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCreditAuthorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="TemplateData" nillable="true" type="q26:DocuSignTemplateCreditAuthDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCreditAuthorizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="SendCreditAuthorizationResult" nillable="true" type="q27:GenericResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendECommerceAgreement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="TemplateData" nillable="true" type="q28:DocuSignTemplateEcommerceAgreement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendECommerceAgreementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="SendECommerceAgreementResult" nillable="true" type="q29:SendDocusignTemplateResult2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterNotificationUrl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="notificationURL" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterNotificationUrlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="RegisterNotificationUrlResult" nillable="true" type="q30:GenericResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractReadyForArchival">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnvelopeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CSNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractReadyForArchivalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContractReadyForArchivalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResendEnvelope">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnvelopeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NewEmailAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NewRecipientFullName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResendEnvelopeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResendEnvelopeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCreditAuth">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Service.eContract.CreditAuth" minOccurs="0" name="SearchCriteria" nillable="true" type="q31:CreditAuthHeader" />
        <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCreditAuthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Service.eContract.CreditAuth" minOccurs="0" name="SearchCreditAuthResult" nillable="true" type="q32:ArrayOfCreditAuthHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCancelLetter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="TemplateData" nillable="true" type="q33:DocuSignTemplateCancelLetter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCancelLetterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="SendCancelLetterResult" nillable="true" type="q34:GenericResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractDocumentConsumer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnvelopeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractDocumentConsumerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Service.eContract" minOccurs="0" name="GetContractDocumentConsumerResult" nillable="true" type="q35:ContractDocumentConsumer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>