HS.Bounce/Web References/net.monitronics.senti/V_Bouncer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://schemas.nevatech.com/services/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="V_Bouncer.STG" targetNamespace="http://schemas.nevatech.com/services/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="Senti_Endpoint1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false">
                </sp:HttpsToken>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <schema targetNamespace="http://schemas.nevatech.com/services/Imports" xmlns="http://www.w3.org/2001/XMLSchema">
      <import schemaLocation="https://senti.monitronics.net/BounceServiceR2/wwwBouncer.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <import schemaLocation="https://senti.monitronics.net/BounceServiceR2/wwwBouncer.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <import schemaLocation="https://senti.monitronics.net/BounceServiceR2/wwwBouncer.svc?xsd=xsd2" namespace="http://monitronics.net/bouncer/wcf/2013/08" />
    </schema>
  </wsdl:types>
  <wsdl:message name="IVirtualInterface_Match_InputMessage">
    <wsdl:part xmlns:q1="http://tempuri.org/" name="parameters" element="q1:Match" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_Match_OutputMessage">
    <wsdl:part xmlns:q2="http://tempuri.org/" name="parameters" element="q2:MatchResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_BatchMatch_InputMessage">
    <wsdl:part xmlns:q3="http://tempuri.org/" name="parameters" element="q3:BatchMatch" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_BatchMatch_OutputMessage">
    <wsdl:part xmlns:q4="http://tempuri.org/" name="parameters" element="q4:BatchMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_SaveMatchComment_InputMessage">
    <wsdl:part xmlns:q5="http://tempuri.org/" name="parameters" element="q5:SaveMatchComment" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_SaveMatchComment_OutputMessage">
    <wsdl:part xmlns:q6="http://tempuri.org/" name="parameters" element="q6:SaveMatchCommentResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_GetMatchComments_InputMessage">
    <wsdl:part xmlns:q7="http://tempuri.org/" name="parameters" element="q7:GetMatchComments" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_GetMatchComments_OutputMessage">
    <wsdl:part xmlns:q8="http://tempuri.org/" name="parameters" element="q8:GetMatchCommentsResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_SaveMatchResponse_InputMessage">
    <wsdl:part xmlns:q9="http://tempuri.org/" name="parameters" element="q9:SaveMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_SaveMatchResponse_OutputMessage">
    <wsdl:part xmlns:q10="http://tempuri.org/" name="parameters" element="q10:SaveMatchResponseResponse" />
  </wsdl:message>
  <wsdl:portType name="IVirtualInterface">
    <wsdl:operation name="Match">
      <wsdl:input wsaw:Action="http://tempuri.org/IBouncer/Match" message="tns:IVirtualInterface_Match_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBouncer/MatchResponse" message="tns:IVirtualInterface_Match_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BatchMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IBouncer/BatchMatch" message="tns:IVirtualInterface_BatchMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBouncer/BatchMatchResponse" message="tns:IVirtualInterface_BatchMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveMatchComment">
      <wsdl:input wsaw:Action="http://tempuri.org/IBouncer/SaveMatchComment" message="tns:IVirtualInterface_SaveMatchComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBouncer/SaveMatchCommentResponse" message="tns:IVirtualInterface_SaveMatchComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMatchComments">
      <wsdl:input wsaw:Action="http://tempuri.org/IBouncer/GetMatchComments" message="tns:IVirtualInterface_GetMatchComments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBouncer/GetMatchCommentsResponse" message="tns:IVirtualInterface_GetMatchComments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveMatchResponse">
      <wsdl:input wsaw:Action="http://tempuri.org/IBouncer/SaveMatchResponse" message="tns:IVirtualInterface_SaveMatchResponse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBouncer/SaveMatchResponseResponse" message="tns:IVirtualInterface_SaveMatchResponse_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Senti_Endpoint1" type="tns:IVirtualInterface">
    <wsp:PolicyReference URI="#Senti_Endpoint1_policy">
    </wsp:PolicyReference>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Match">
      <soap:operation soapAction="http://tempuri.org/IBouncer/Match" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BatchMatch">
      <soap:operation soapAction="http://tempuri.org/IBouncer/BatchMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMatchComment">
      <soap:operation soapAction="http://tempuri.org/IBouncer/SaveMatchComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMatchComments">
      <soap:operation soapAction="http://tempuri.org/IBouncer/GetMatchComments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMatchResponse">
      <soap:operation soapAction="http://tempuri.org/IBouncer/SaveMatchResponse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="V_Bouncer.STG">
    <wsdl:port name="Senti_Endpoint1" binding="tns:Senti_Endpoint1">
      <soap:address location="https://senti.monitronics.net/BounceServiceR2/wwwBouncer.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>