HS.Brinks/Web References/net.monitronics.senti/midi.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://mimasweb.monitronics.net/MIDI/" elementFormDefault="qualified" targetNamespace="https://mimasweb.monitronics.net/MIDI/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AccountOnline">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="userName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="password" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="csNo" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="xml" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="creditRequestXml" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="purchaseInfoXml" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicationIDHeader" type="tns:ApplicationIDHeader" />
  <xs:complexType name="ApplicationIDHeader">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="appID" type="xs:string" />
    </xs:sequence>
    <xs:anyAttribute />
  </xs:complexType>
  <xs:element name="AccountOnlineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="AccountOnlineResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Entity" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="UserID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="CustomerNumber" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="XMLData" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetDataResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Immediate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Entity" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="UserID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="CustomerNumber" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="XMLData" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImmediateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ImmediateResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="userName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="password" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="reqType" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="csNo" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="xml" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="UpdateResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Partial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="userName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="password" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="reqType" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="csNo" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="wsiBatchNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PartialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="PartialResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetermineMODAccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ContactNo" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="CustomerNumber" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetermineMODAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="DetermineMODAccessResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="userName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="password" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="cs" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetCreditRequestResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCreditRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="userName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="password" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="xml" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCreditRequestResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetPurchaseInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="userName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="password" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="cs" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurchaseInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetPurchaseInfoResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePurchaseInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="userName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="password" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="xml" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePurchaseInfoResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetDealerCMRates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="dealerNumber" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="countryNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDealerCMRatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetDealerCMRatesResult">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimezoneFromZipcode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="zipcode" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimezoneFromZipcodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetTimezoneFromZipcodeResult">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWebServiceVersion">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetWebServiceVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetWebServiceVersionResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>