HS.Brinks/Web References/net.monitronics.senti/WSI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://schemas.nevatech.com/services/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="WSI" targetNamespace="http://schemas.nevatech.com/services/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <schema targetNamespace="http://schemas.nevatech.com/services/Imports" xmlns="http://www.w3.org/2001/XMLSchema">
      <import schemaLocation="http://senti.monitronics.net/MIDI/midi.asmx?xsd=xsd0" namespace="https://mimasweb.monitronics.net/MIDI/" />
    </schema>
  </wsdl:types>
  <wsdl:message name="IVirtualInterface_AccountOnline_InputMessage">
    <wsdl:part xmlns:q1="https://mimasweb.monitronics.net/MIDI/" name="parameters" element="q1:AccountOnline" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_AccountOnline_InputMessage_Headers">
    <wsdl:part xmlns:q2="https://mimasweb.monitronics.net/MIDI/" name="ApplicationIDHeader" element="q2:ApplicationIDHeader" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_AccountOnline_OutputMessage">
    <wsdl:part xmlns:q3="https://mimasweb.monitronics.net/MIDI/" name="parameters" element="q3:AccountOnlineResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_GetData_InputMessage">
    <wsdl:part xmlns:q4="https://mimasweb.monitronics.net/MIDI/" name="parameters" element="q4:GetData" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_GetData_OutputMessage">
    <wsdl:part xmlns:q5="https://mimasweb.monitronics.net/MIDI/" name="parameters" element="q5:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_Immediate_InputMessage">
    <wsdl:part xmlns:q6="https://mimasweb.monitronics.net/MIDI/" name="parameters" element="q6:Immediate" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_Immediate_InputMessage_Headers">
    <wsdl:part xmlns:q7="https://mimasweb.monitronics.net/MIDI/" name="ApplicationIDHeader" element="q7:ApplicationIDHeader" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_Immediate_OutputMessage">
    <wsdl:part xmlns:q8="https://mimasweb.monitronics.net/MIDI/" name="parameters" element="q8:ImmediateResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_Update_InputMessage">
    <wsdl:part xmlns:q9="https://mimasweb.monitronics.net/MIDI/" name="parameters" element="q9:Update" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_Update_InputMessage_Headers">
    <wsdl:part xmlns:q10="https://mimasweb.monitronics.net/MIDI/" name="ApplicationIDHeader" element="q10:ApplicationIDHeader" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_Update_OutputMessage">
    <wsdl:part xmlns:q11="https://mimasweb.monitronics.net/MIDI/" name="parameters" element="q11:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_Partial_InputMessage">
    <wsdl:part xmlns:q12="https://mimasweb.monitronics.net/MIDI/" name="parameters" element="q12:Partial" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_Partial_InputMessage_Headers">
    <wsdl:part xmlns:q13="https://mimasweb.monitronics.net/MIDI/" name="ApplicationIDHeader" element="q13:ApplicationIDHeader" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_Partial_OutputMessage">
    <wsdl:part xmlns:q14="https://mimasweb.monitronics.net/MIDI/" name="parameters" element="q14:PartialResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_DetermineMODAccess_InputMessage">
    <wsdl:part xmlns:q15="https://mimasweb.monitronics.net/MIDI/" name="parameters" element="q15:DetermineMODAccess" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_DetermineMODAccess_InputMessage_Headers">
    <wsdl:part xmlns:q16="https://mimasweb.monitronics.net/MIDI/" name="ApplicationIDHeader" element="q16:ApplicationIDHeader" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_DetermineMODAccess_OutputMessage">
    <wsdl:part xmlns:q17="https://mimasweb.monitronics.net/MIDI/" name="parameters" element="q17:DetermineMODAccessResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_GetCreditRequest_InputMessage">
    <wsdl:part xmlns:q18="https://mimasweb.monitronics.net/MIDI/" name="parameters" element="q18:GetCreditRequest" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_GetCreditRequest_OutputMessage">
    <wsdl:part xmlns:q19="https://mimasweb.monitronics.net/MIDI/" name="parameters" element="q19:GetCreditRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_UpdateCreditRequest_InputMessage">
    <wsdl:part xmlns:q20="https://mimasweb.monitronics.net/MIDI/" name="parameters" element="q20:UpdateCreditRequest" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_UpdateCreditRequest_OutputMessage">
    <wsdl:part xmlns:q21="https://mimasweb.monitronics.net/MIDI/" name="parameters" element="q21:UpdateCreditRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_GetPurchaseInfo_InputMessage">
    <wsdl:part xmlns:q22="https://mimasweb.monitronics.net/MIDI/" name="parameters" element="q22:GetPurchaseInfo" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_GetPurchaseInfo_OutputMessage">
    <wsdl:part xmlns:q23="https://mimasweb.monitronics.net/MIDI/" name="parameters" element="q23:GetPurchaseInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_UpdatePurchaseInfo_InputMessage">
    <wsdl:part xmlns:q24="https://mimasweb.monitronics.net/MIDI/" name="parameters" element="q24:UpdatePurchaseInfo" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_UpdatePurchaseInfo_OutputMessage">
    <wsdl:part xmlns:q25="https://mimasweb.monitronics.net/MIDI/" name="parameters" element="q25:UpdatePurchaseInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_GetDealerCMRates_InputMessage">
    <wsdl:part xmlns:q26="https://mimasweb.monitronics.net/MIDI/" name="parameters" element="q26:GetDealerCMRates" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_GetDealerCMRates_OutputMessage">
    <wsdl:part xmlns:q27="https://mimasweb.monitronics.net/MIDI/" name="parameters" element="q27:GetDealerCMRatesResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_GetTimezoneFromZipcode_InputMessage">
    <wsdl:part xmlns:q28="https://mimasweb.monitronics.net/MIDI/" name="parameters" element="q28:GetTimezoneFromZipcode" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_GetTimezoneFromZipcode_OutputMessage">
    <wsdl:part xmlns:q29="https://mimasweb.monitronics.net/MIDI/" name="parameters" element="q29:GetTimezoneFromZipcodeResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_GetWebServiceVersion_InputMessage">
    <wsdl:part xmlns:q30="https://mimasweb.monitronics.net/MIDI/" name="parameters" element="q30:GetWebServiceVersion" />
  </wsdl:message>
  <wsdl:message name="IVirtualInterface_GetWebServiceVersion_OutputMessage">
    <wsdl:part xmlns:q31="https://mimasweb.monitronics.net/MIDI/" name="parameters" element="q31:GetWebServiceVersionResponse" />
  </wsdl:message>
  <wsdl:portType name="IVirtualInterface">
    <wsdl:operation name="AccountOnline">
      <wsdl:documentation>This method will allow you to put an account online.</wsdl:documentation>
      <wsdl:input wsaw:Action="https://mimasweb.monitronics.net/MIDI/AccountOnline" message="tns:IVirtualInterface_AccountOnline_InputMessage" />
      <wsdl:output wsaw:Action="https://mimasweb.monitronics.net/MIDI/AccountOnlineResponse" message="tns:IVirtualInterface_AccountOnline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:documentation>This method will allow you to get information about an account or lookup data.</wsdl:documentation>
      <wsdl:input wsaw:Action="https://mimasweb.monitronics.net/MIDI/GetData" message="tns:IVirtualInterface_GetData_InputMessage" />
      <wsdl:output wsaw:Action="https://mimasweb.monitronics.net/MIDI/GetDataResponse" message="tns:IVirtualInterface_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Immediate">
      <wsdl:documentation>This method will allow you to add information to an account.</wsdl:documentation>
      <wsdl:input wsaw:Action="https://mimasweb.monitronics.net/MIDI/Immediate" message="tns:IVirtualInterface_Immediate_InputMessage" />
      <wsdl:output wsaw:Action="https://mimasweb.monitronics.net/MIDI/ImmediateResponse" message="tns:IVirtualInterface_Immediate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:documentation>This method will allow you to update information on an account.</wsdl:documentation>
      <wsdl:input wsaw:Action="https://mimasweb.monitronics.net/MIDI/Update" message="tns:IVirtualInterface_Update_InputMessage" />
      <wsdl:output wsaw:Action="https://mimasweb.monitronics.net/MIDI/UpdateResponse" message="tns:IVirtualInterface_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Partial">
      <wsdl:documentation>This method is used to handle partial data saves/gets/deletes.</wsdl:documentation>
      <wsdl:input wsaw:Action="https://mimasweb.monitronics.net/MIDI/Partial" message="tns:IVirtualInterface_Partial_InputMessage" />
      <wsdl:output wsaw:Action="https://mimasweb.monitronics.net/MIDI/PartialResponse" message="tns:IVirtualInterface_Partial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DetermineMODAccess">
      <wsdl:documentation>This method validates account access for a MOD dealer.</wsdl:documentation>
      <wsdl:input wsaw:Action="https://mimasweb.monitronics.net/MIDI/DetermineMODAccess" message="tns:IVirtualInterface_DetermineMODAccess_InputMessage" />
      <wsdl:output wsaw:Action="https://mimasweb.monitronics.net/MIDI/DetermineMODAccessResponse" message="tns:IVirtualInterface_DetermineMODAccess_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCreditRequest">
      <wsdl:documentation>This method will retrieve a pending credit report request for an account (if any).</wsdl:documentation>
      <wsdl:input wsaw:Action="https://mimasweb.monitronics.net/MIDI/GetCreditRequest" message="tns:IVirtualInterface_GetCreditRequest_InputMessage" />
      <wsdl:output wsaw:Action="https://mimasweb.monitronics.net/MIDI/GetCreditRequestResponse" message="tns:IVirtualInterface_GetCreditRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCreditRequest">
      <wsdl:documentation>This method will update a pending credit report request for an account (if any).</wsdl:documentation>
      <wsdl:input wsaw:Action="https://mimasweb.monitronics.net/MIDI/UpdateCreditRequest" message="tns:IVirtualInterface_UpdateCreditRequest_InputMessage" />
      <wsdl:output wsaw:Action="https://mimasweb.monitronics.net/MIDI/UpdateCreditRequestResponse" message="tns:IVirtualInterface_UpdateCreditRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPurchaseInfo">
      <wsdl:documentation>This method will retrieve the saved purchase info for an account (if any).</wsdl:documentation>
      <wsdl:input wsaw:Action="https://mimasweb.monitronics.net/MIDI/GetPurchaseInfo" message="tns:IVirtualInterface_GetPurchaseInfo_InputMessage" />
      <wsdl:output wsaw:Action="https://mimasweb.monitronics.net/MIDI/GetPurchaseInfoResponse" message="tns:IVirtualInterface_GetPurchaseInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePurchaseInfo">
      <wsdl:documentation>This method will update the saved purchase info for an account (if any).</wsdl:documentation>
      <wsdl:input wsaw:Action="https://mimasweb.monitronics.net/MIDI/UpdatePurchaseInfo" message="tns:IVirtualInterface_UpdatePurchaseInfo_InputMessage" />
      <wsdl:output wsaw:Action="https://mimasweb.monitronics.net/MIDI/UpdatePurchaseInfoResponse" message="tns:IVirtualInterface_UpdatePurchaseInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDealerCMRates">
      <wsdl:documentation>Internal method for Monitronics use only.</wsdl:documentation>
      <wsdl:input wsaw:Action="https://mimasweb.monitronics.net/MIDI/GetDealerCMRates" message="tns:IVirtualInterface_GetDealerCMRates_InputMessage" />
      <wsdl:output wsaw:Action="https://mimasweb.monitronics.net/MIDI/GetDealerCMRatesResponse" message="tns:IVirtualInterface_GetDealerCMRates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimezoneFromZipcode">
      <wsdl:documentation>This method will return the timezone for a given zipcode.</wsdl:documentation>
      <wsdl:input wsaw:Action="https://mimasweb.monitronics.net/MIDI/GetTimezoneFromZipcode" message="tns:IVirtualInterface_GetTimezoneFromZipcode_InputMessage" />
      <wsdl:output wsaw:Action="https://mimasweb.monitronics.net/MIDI/GetTimezoneFromZipcodeResponse" message="tns:IVirtualInterface_GetTimezoneFromZipcode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWebServiceVersion">
      <wsdl:documentation>This method will return the current version of this web service.</wsdl:documentation>
      <wsdl:input wsaw:Action="https://mimasweb.monitronics.net/MIDI/GetWebServiceVersion" message="tns:IVirtualInterface_GetWebServiceVersion_InputMessage" />
      <wsdl:output wsaw:Action="https://mimasweb.monitronics.net/MIDI/GetWebServiceVersionResponse" message="tns:IVirtualInterface_GetWebServiceVersion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HttpEndpoint11" type="tns:IVirtualInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AccountOnline">
      <soap:operation soapAction="https://mimasweb.monitronics.net/MIDI/AccountOnline" style="document" />
      <wsdl:input>
        <soap:header message="tns:IVirtualInterface_AccountOnline_InputMessage_Headers" part="ApplicationIDHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="https://mimasweb.monitronics.net/MIDI/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Immediate">
      <soap:operation soapAction="https://mimasweb.monitronics.net/MIDI/Immediate" style="document" />
      <wsdl:input>
        <soap:header message="tns:IVirtualInterface_Immediate_InputMessage_Headers" part="ApplicationIDHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="https://mimasweb.monitronics.net/MIDI/Update" style="document" />
      <wsdl:input>
        <soap:header message="tns:IVirtualInterface_Update_InputMessage_Headers" part="ApplicationIDHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Partial">
      <soap:operation soapAction="https://mimasweb.monitronics.net/MIDI/Partial" style="document" />
      <wsdl:input>
        <soap:header message="tns:IVirtualInterface_Partial_InputMessage_Headers" part="ApplicationIDHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetermineMODAccess">
      <soap:operation soapAction="https://mimasweb.monitronics.net/MIDI/DetermineMODAccess" style="document" />
      <wsdl:input>
        <soap:header message="tns:IVirtualInterface_DetermineMODAccess_InputMessage_Headers" part="ApplicationIDHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCreditRequest">
      <soap:operation soapAction="https://mimasweb.monitronics.net/MIDI/GetCreditRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCreditRequest">
      <soap:operation soapAction="https://mimasweb.monitronics.net/MIDI/UpdateCreditRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPurchaseInfo">
      <soap:operation soapAction="https://mimasweb.monitronics.net/MIDI/GetPurchaseInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePurchaseInfo">
      <soap:operation soapAction="https://mimasweb.monitronics.net/MIDI/UpdatePurchaseInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDealerCMRates">
      <soap:operation soapAction="https://mimasweb.monitronics.net/MIDI/GetDealerCMRates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimezoneFromZipcode">
      <soap:operation soapAction="https://mimasweb.monitronics.net/MIDI/GetTimezoneFromZipcode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWebServiceVersion">
      <soap:operation soapAction="https://mimasweb.monitronics.net/MIDI/GetWebServiceVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSI">
    <wsdl:port name="HttpEndpoint11" binding="tns:HttpEndpoint11">
      <soap:address location="http://senti.monitronics.net/MIDI/midi.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>