HS.Alarm/Web References/AlarmOrder/OrderManagement.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://www.alarm.com/WebServices" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://www.alarm.com/WebServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.alarm.com/WebServices">
      <s:element name="PlaceOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="order" type="tns:DealerHardwareOrderInput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DealerHardwareOrderInput">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DealerId" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LineItems" type="tns:ArrayOfDealerHardwareOrderLineItem" />
          <s:element minOccurs="0" maxOccurs="1" name="ShippingAddress" type="tns:AddressWithName" />
          <s:element minOccurs="0" maxOccurs="1" name="ShippingEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShippingPhone" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderHandling" type="tns:OrderHandlingEnum" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderType" nillable="true" type="tns:DealerHardwareOrderTypeEnum" />
          <s:element minOccurs="1" maxOccurs="1" name="WaiveSignature" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="PoNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Comments" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TrentonNote" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DemoRequesterLoginName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DemoBusinessDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestedShipDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Carrier" nillable="true" type="tns:ShipperEnum" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDealerHardwareOrderLineItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DealerHardwareOrderLineItem" nillable="true" type="tns:DealerHardwareOrderLineItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DealerHardwareOrderLineItem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PartId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Comments" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" nillable="true" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AddressWithName">
        <s:complexContent mixed="false">
          <s:extension base="tns:Address">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Address">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Street1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Street2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SubCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SubState" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CountryId" type="tns:CountryEnum" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="CountryEnum">
        <s:restriction base="s:string">
          <s:enumeration value="NotSet" />
          <s:enumeration value="USA" />
          <s:enumeration value="Canada" />
          <s:enumeration value="Brazil" />
          <s:enumeration value="Mexico" />
          <s:enumeration value="SouthAfrica" />
          <s:enumeration value="Chile" />
          <s:enumeration value="Argentina" />
          <s:enumeration value="Colombia" />
          <s:enumeration value="NewZealand" />
          <s:enumeration value="Turkey" />
          <s:enumeration value="Botswana" />
          <s:enumeration value="Panama" />
          <s:enumeration value="CostaRica" />
          <s:enumeration value="Venezuela" />
          <s:enumeration value="DominicanRepublic" />
          <s:enumeration value="Ecuador" />
          <s:enumeration value="Guatemala" />
          <s:enumeration value="Peru" />
          <s:enumeration value="Honduras" />
          <s:enumeration value="TrinidadTobago" />
          <s:enumeration value="Australia" />
          <s:enumeration value="Jamaica" />
          <s:enumeration value="Bahamas" />
          <s:enumeration value="SaintKittsNevis" />
          <s:enumeration value="Barbados" />
          <s:enumeration value="Ghana" />
          <s:enumeration value="Spain" />
          <s:enumeration value="Portugal" />
          <s:enumeration value="Uruguay" />
          <s:enumeration value="Paraguay" />
          <s:enumeration value="HongKong" />
          <s:enumeration value="Bolivia" />
          <s:enumeration value="Nigeria" />
          <s:enumeration value="Bermuda" />
          <s:enumeration value="USVirginIslands" />
          <s:enumeration value="Nicaragua" />
          <s:enumeration value="ElSalvador" />
          <s:enumeration value="India" />
          <s:enumeration value="TurksCaicos" />
          <s:enumeration value="UnitedKingdom" />
          <s:enumeration value="Mozambique" />
          <s:enumeration value="Netherlands" />
          <s:enumeration value="Belgium" />
          <s:enumeration value="Sweden" />
          <s:enumeration value="Switzerland" />
          <s:enumeration value="Poland" />
          <s:enumeration value="Thailand" />
          <s:enumeration value="Fiji" />
          <s:enumeration value="Ireland" />
          <s:enumeration value="Malaysia" />
          <s:enumeration value="Denmark" />
          <s:enumeration value="Norway" />
          <s:enumeration value="BritishVirginIslands" />
          <s:enumeration value="CaymanIslands" />
          <s:enumeration value="France" />
          <s:enumeration value="Taiwan" />
          <s:enumeration value="China" />
          <s:enumeration value="Philippines" />
          <s:enumeration value="Cyprus" />
          <s:enumeration value="SaudiArabia" />
          <s:enumeration value="Iceland" />
          <s:enumeration value="Israel" />
          <s:enumeration value="Singapore" />
          <s:enumeration value="Luxembourg" />
          <s:enumeration value="UnitedArabEmirates" />
          <s:enumeration value="Malta" />
          <s:enumeration value="Greece" />
          <s:enumeration value="Guyana" />
          <s:enumeration value="Croatia" />
          <s:enumeration value="Japan" />
          <s:enumeration value="Dominica" />
          <s:enumeration value="Belize" />
          <s:enumeration value="Finland" />
          <s:enumeration value="Germany" />
          <s:enumeration value="StLucia" />
          <s:enumeration value="Grenada" />
          <s:enumeration value="Indonesia" />
          <s:enumeration value="Bahrain" />
          <s:enumeration value="Austria" />
          <s:enumeration value="Bulgaria" />
          <s:enumeration value="Czechia" />
          <s:enumeration value="Estonia" />
          <s:enumeration value="Haiti" />
          <s:enumeration value="Hungary" />
          <s:enumeration value="Italy" />
          <s:enumeration value="SouthKorea" />
          <s:enumeration value="Latvia" />
          <s:enumeration value="Lithuania" />
          <s:enumeration value="NorthMacedonia" />
          <s:enumeration value="Mauritius" />
          <s:enumeration value="Romania" />
          <s:enumeration value="Slovenia" />
          <s:enumeration value="Ukraine" />
          <s:enumeration value="Vietnam" />
          <s:enumeration value="Guam" />
          <s:enumeration value="Aruba" />
          <s:enumeration value="Montenegro" />
          <s:enumeration value="CapeVerde" />
          <s:enumeration value="Morocco" />
          <s:enumeration value="Myanmar" />
          <s:enumeration value="SaintVincentTheGrenadines" />
          <s:enumeration value="Curacao" />
          <s:enumeration value="Albania" />
          <s:enumeration value="Guadeloupe" />
          <s:enumeration value="Martinique" />
          <s:enumeration value="FrenchGuiana" />
          <s:enumeration value="SaintMartin" />
          <s:enumeration value="SintMaarten" />
          <s:enumeration value="LaReunion" />
          <s:enumeration value="Mayotte" />
          <s:enumeration value="Slovakia" />
          <s:enumeration value="Egypt" />
          <s:enumeration value="Kuwait" />
          <s:enumeration value="Jordan" />
          <s:enumeration value="Tunisia" />
          <s:enumeration value="Qatar" />
          <s:enumeration value="CookIslands" />
          <s:enumeration value="SolomonIslands" />
          <s:enumeration value="Moldova" />
          <s:enumeration value="AntiguaAndBarbuda" />
          <s:enumeration value="Lebanon" />
          <s:enumeration value="Oman" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="AddressWithCoordinates">
        <s:complexContent mixed="false">
          <s:extension base="tns:Address">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Latitude" nillable="true" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="Longitude" nillable="true" type="s:double" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="OrderHandlingEnum">
        <s:restriction base="s:string">
          <s:enumeration value="Ground" />
          <s:enumeration value="Overnight" />
          <s:enumeration value="Saturday" />
          <s:enumeration value="TwoDay" />
          <s:enumeration value="TrentonTransfer" />
          <s:enumeration value="DropShip" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="DealerHardwareOrderTypeEnum">
        <s:restriction base="s:string">
          <s:enumeration value="Unknown" />
          <s:enumeration value="Sales" />
          <s:enumeration value="Demo" />
          <s:enumeration value="InventoryTransfer" />
          <s:enumeration value="EPP" />
          <s:enumeration value="InternalRAndD" />
          <s:enumeration value="RMAReplacement" />
          <s:enumeration value="RMAAdvancedReplacement" />
          <s:enumeration value="DealerDemo" />
          <s:enumeration value="FulfillFromHQ" />
          <s:enumeration value="DirectCustomerFulfillment" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ShipperEnum">
        <s:restriction base="s:string">
          <s:enumeration value="NotSet" />
          <s:enumeration value="UPS" />
          <s:enumeration value="FedEx" />
          <s:enumeration value="DHL" />
          <s:enumeration value="FreightForwarder" />
        </s:restriction>
      </s:simpleType>
      <s:element name="PlaceOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PlaceOrderResult" type="tns:DealerHardwareOrderOutput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DealerHardwareOrderOutput">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OrderId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LineItemTotal" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderTotal" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ShippingCharge" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TariffFee" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TaxAmount" nillable="true" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="Authentication" type="tns:Authentication" />
      <s:complexType name="Authentication">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TwoFactorDeviceId" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="GetPartInformation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="partId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPartInformationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPartInformationResult" type="tns:HardwarePartInformation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HardwarePartInformation">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PartId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PartNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PartDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UnitPrice" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Currency" type="tns:CurrencyEnum" />
          <s:element minOccurs="0" maxOccurs="1" name="SKUNumber" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="CurrencyEnum">
        <s:restriction base="s:string">
          <s:enumeration value="NotSet" />
          <s:enumeration value="UnitedStatesDollar" />
          <s:enumeration value="CanadianDollar" />
          <s:enumeration value="AustralianDollar" />
          <s:enumeration value="MexicoPeso" />
          <s:enumeration value="Euro" />
          <s:enumeration value="GreatBritainPoundsSterling" />
          <s:enumeration value="NewZealandDollar" />
          <s:enumeration value="ColombianPeso" />
          <s:enumeration value="BrazilianReal" />
          <s:enumeration value="PeruvianSol" />
          <s:enumeration value="TurkishLira" />
          <s:enumeration value="ArgentinePeso" />
          <s:enumeration value="ChileanPeso" />
          <s:enumeration value="Colon" />
          <s:enumeration value="CroatianKuna" />
          <s:enumeration value="DanishKrone" />
          <s:enumeration value="IcelandicKrona" />
          <s:enumeration value="IsraeliNewShekel" />
          <s:enumeration value="MalteseLira" />
          <s:enumeration value="NorwegianKrone" />
          <s:enumeration value="PolishZloty" />
          <s:enumeration value="SwedishKrona" />
          <s:enumeration value="PesoUruguayo" />
          <s:enumeration value="ParaguayanGuarani" />
          <s:enumeration value="GuatemalanQuetzal" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetPartInformationForDealer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="partId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="dealerId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPartInformationForDealerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPartInformationForDealerResult" type="tns:HardwarePartInformation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPartListForDealer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dealerId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPartListForDealerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPartListForDealerResult" type="tns:ArrayOfHardwarePartInformation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfHardwarePartInformation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HardwarePartInformation" nillable="true" type="tns:HardwarePartInformation" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPartList">
        <s:complexType />
      </s:element>
      <s:element name="GetPartListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPartListResult" type="tns:ArrayOfHardwarePartInformation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInvoiceDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="internalInvoiceId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInvoiceDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInvoiceDetailsResult" type="tns:Invoice" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Invoice">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="InternalInvoiceId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="InvoiceMonth" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="InvoiceAmount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="InvoiceMailedDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="InvoiceDueDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="InvoiceId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="InvoiceStatus" type="tns:InvoiceStatusEnum" />
          <s:element minOccurs="1" maxOccurs="1" name="UnpaidBalance" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="InvoiceType" type="tns:InvoiceTypeEnum" />
          <s:element minOccurs="0" maxOccurs="1" name="PurchaseOrderNumbers" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="LineItems" type="tns:ArrayOfInvoiceLineItem" />
          <s:element minOccurs="1" maxOccurs="1" name="AddonsFilteredDueToCallerVersion" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="InvoiceStatusEnum">
        <s:restriction base="s:string">
          <s:enumeration value="Open" />
          <s:enumeration value="Closed" />
          <s:enumeration value="Collection" />
          <s:enumeration value="Setup" />
          <s:enumeration value="Incomplete" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="InvoiceTypeEnum">
        <s:restriction base="s:string">
          <s:enumeration value="Combined" />
          <s:enumeration value="Hardware" />
          <s:enumeration value="Service" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInvoiceLineItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="InvoiceLineItem" nillable="true" type="tns:InvoiceLineItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InvoiceLineItem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="InvoiceLineItemId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Customer" type="tns:InvoiceLineItemCustomerInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="HardwareInfo" type="tns:InvoiceLineItemHardwareInfo" />
          <s:element minOccurs="1" maxOccurs="1" name="ChargeAmount" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="ChargeDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ChargeDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LineItemType" type="tns:InvoiceLineItemTypeEnum" />
          <s:element minOccurs="1" maxOccurs="1" name="AddOnFeature" nillable="true" type="tns:AddOnFeatureEnum" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InvoiceLineItemCustomerInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CustomerId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PackageId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PackageDesc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CentralStationAccountNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CentralStationPhoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DealerCustomerId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountPrefix" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DealerBranchId" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InvoiceLineItemHardwareInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PoNumber" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="InvoiceLineItemTypeEnum">
        <s:restriction base="s:string">
          <s:enumeration value="NotSet" />
          <s:enumeration value="Service" />
          <s:enumeration value="Activation" />
          <s:enumeration value="Hardware" />
          <s:enumeration value="Shipping" />
          <s:enumeration value="Marketing" />
          <s:enumeration value="Engineering" />
          <s:enumeration value="ReferralFee" />
          <s:enumeration value="Other" />
          <s:enumeration value="LateFee" />
          <s:enumeration value="SalesTax" />
          <s:enumeration value="FutureService" />
          <s:enumeration value="ServiceRebate" />
          <s:enumeration value="AccountCreationSubsidy" />
          <s:enumeration value="InstallationFee" />
          <s:enumeration value="CompetitiveUpgradeChargeback" />
          <s:enumeration value="TariffFee" />
          <s:enumeration value="ServiceSalesTax" />
          <s:enumeration value="LTEUpgradeChargeback" />
          <s:enumeration value="Incentive" />
          <s:enumeration value="ProfessionalServices" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="AddOnFeatureEnum">
        <s:restriction base="s:string">
          <s:enumeration value="VoiceNotificationsForAlarms" />
          <s:enumeration value="VoiceNotificationsForMonitoring" />
          <s:enumeration value="LightAutomation" />
          <s:enumeration value="UserCodeControl" />
          <s:enumeration value="RemoteArming" />
          <s:enumeration value="ThermostatControl" />
          <s:enumeration value="ArmingSupervision" />
          <s:enumeration value="NormalActivityReports" />
          <s:enumeration value="ArmingReports" />
          <s:enumeration value="ArmingSchedules" />
          <s:enumeration value="Inactivity" />
          <s:enumeration value="FiveNormalActivitySensors" />
          <s:enumeration value="ProVideo" />
          <s:enumeration value="ProVideoPlus" />
          <s:enumeration value="TwoFiftyMBExtraVideoStorage" />
          <s:enumeration value="TwoWayVoice" />
          <s:enumeration value="WeatherToPanel" />
          <s:enumeration value="DigitalInputVideos" />
          <s:enumeration value="MedicationAlerts" />
          <s:enumeration value="ZWaveLights" />
          <s:enumeration value="ZWaveThermostats" />
          <s:enumeration value="ZWaveLocks" />
          <s:enumeration value="EnterpriseNotices" />
          <s:enumeration value="ZWaveEnergy" />
          <s:enumeration value="Reminders" />
          <s:enumeration value="SevereWeatherAlerts" />
          <s:enumeration value="ImageSensorAlarms" />
          <s:enumeration value="ImageSensorPlus" />
          <s:enumeration value="ImageSensorExtraUploads" />
          <s:enumeration value="EnterpriseSecurityConsole" />
          <s:enumeration value="SmartEnergyPlus" />
          <s:enumeration value="Securus" />
          <s:enumeration value="LutronRemoteAccess" />
          <s:enumeration value="Obsolete_LutronLightsAndThermostats" />
          <s:enumeration value="IDProtection" />
          <s:enumeration value="GreenButton" />
          <s:enumeration value="GarageDoors" />
          <s:enumeration value="Wellness" />
          <s:enumeration value="AdvancedEnergy" />
          <s:enumeration value="AdvancedAutomation" />
          <s:enumeration value="LutronIntegration" />
          <s:enumeration value="LiftMasterIntegration" />
          <s:enumeration value="SchneiderIntegration" />
          <s:enumeration value="Video24x7PerSVR" />
          <s:enumeration value="TaggIntegration" />
          <s:enumeration value="WaterManagement" />
          <s:enumeration value="CommercialActivityReports" />
          <s:enumeration value="BeCloseCommunityView" />
          <s:enumeration value="ULCommericial" />
          <s:enumeration value="SolarMonitoring" />
          <s:enumeration value="SolarEdgeIntegration" />
          <s:enumeration value="EnphaseIntegration" />
          <s:enumeration value="NESTIntegration" />
          <s:enumeration value="SMSAlarms" />
          <s:enumeration value="SMSNotificationsMexico" />
          <s:enumeration value="EnterpriseEnergy" />
          <s:enumeration value="EnterpriseWellness" />
          <s:enumeration value="IrrigationControl" />
          <s:enumeration value="RachioIntegration" />
          <s:enumeration value="ConnectedCar" />
          <s:enumeration value="PropaneMonitoring" />
          <s:enumeration value="SMSNotificationsChile" />
          <s:enumeration value="SMSNotificationsColombia" />
          <s:enumeration value="SMSNotificationsNZ" />
          <s:enumeration value="SMSNotificationsAustralia" />
          <s:enumeration value="SMSNotificationsBrazil" />
          <s:enumeration value="SMSNotificationsPanama" />
          <s:enumeration value="CosaIntegration" />
          <s:enumeration value="OSnappIntegration" />
          <s:enumeration value="ConnectedCarPlus" />
          <s:enumeration value="DoorbellCameras" />
          <s:enumeration value="UnexpectedActivityAlerts" />
          <s:enumeration value="AccessControl" />
          <s:enumeration value="ZWaveCO" />
          <s:enumeration value="HourlySupervision" />
          <s:enumeration value="SixHourSupervision" />
          <s:enumeration value="BasicDoorbell" />
          <s:enumeration value="AlarmVisualVerification" />
          <s:enumeration value="PanicButton" />
          <s:enumeration value="AudioIntegration" />
          <s:enumeration value="KonaLabsWaterMetering" />
          <s:enumeration value="VideoDeviceAudio" />
          <s:enumeration value="CancelVerify" />
          <s:enumeration value="SMSNotificationsBelgium" />
          <s:enumeration value="AccessControlDoors" />
          <s:enumeration value="RouterLimits" />
          <s:enumeration value="HomeControllerIntegration" />
          <s:enumeration value="FlexIO" />
          <s:enumeration value="SMSNotificationsSweden" />
          <s:enumeration value="SMSNotificationsNetherlands" />
          <s:enumeration value="ProVideoWithAnalytics" />
          <s:enumeration value="ConnectedCarCalAmp" />
          <s:enumeration value="SMSNotificationsNorway" />
          <s:enumeration value="SMSNotificationsIreland" />
          <s:enumeration value="CarrierCorIntegration" />
          <s:enumeration value="BuilderDoorbell" />
          <s:enumeration value="AccessPlanUserManagement" />
          <s:enumeration value="WaterManagementPlus" />
          <s:enumeration value="SmarterBusinessTemperatureMonitoring" />
          <s:enumeration value="CommercialVideo8" />
          <s:enumeration value="CommercialVideo16" />
          <s:enumeration value="CommercialVideo8Expansion" />
          <s:enumeration value="CommercialVideo16Expansion" />
          <s:enumeration value="LennoxIComfortIntegration" />
          <s:enumeration value="AlarmLink" />
          <s:enumeration value="ImageSensorLimited" />
          <s:enumeration value="SolarIntegration" />
          <s:enumeration value="ZWaveShades" />
          <s:enumeration value="UnattendedShowing" />
          <s:enumeration value="AccessControl16" />
          <s:enumeration value="AccessControl32" />
          <s:enumeration value="AccessControl64" />
          <s:enumeration value="SmartViewForOnboardRecording" />
          <s:enumeration value="OpenEyeCloudConnect" />
          <s:enumeration value="BusinessActivityAnalytics" />
          <s:enumeration value="PremiumVideo" />
          <s:enumeration value="ExtraSmarterBusinessTemperatureMonitoringSensors" />
          <s:enumeration value="SmartViewForOnboardRecordingCV" />
          <s:enumeration value="VideoAnalyticsRuleCreated" />
          <s:enumeration value="ProVideoWithAnalytics1000" />
          <s:enumeration value="AzureActiveDirectoryIntegration" />
          <s:enumeration value="VideoAnalyticsRuleCreated2000" />
          <s:enumeration value="Ambient" />
          <s:enumeration value="UnattendedShowingSolution" />
          <s:enumeration value="SingleDoorbellWithAnalytics" />
          <s:enumeration value="CommercialVideo4" />
          <s:enumeration value="CommercialVideo4Expansion" />
          <s:enumeration value="VideoBasic" />
          <s:enumeration value="VideoBasicWithAnalytics" />
          <s:enumeration value="VideoAwareness" />
          <s:enumeration value="VideoComplete" />
          <s:enumeration value="VideoOneCameraAddOn" />
          <s:enumeration value="BaseCallTime" />
          <s:enumeration value="ImageUploadCount" />
          <s:enumeration value="IOLights" />
          <s:enumeration value="IOLocks" />
          <s:enumeration value="IOGarageDoorsAndGates" />
          <s:enumeration value="NestVideoIntegration" />
          <s:enumeration value="EssenceMPERS" />
          <s:enumeration value="Builder770BasicDoorbell" />
          <s:enumeration value="Builder770PremiumDoorbell" />
          <s:enumeration value="ThirtyMinuteSupervision" />
          <s:enumeration value="NestAwareResale" />
          <s:enumeration value="SmarterAccessControlPlus" />
          <s:enumeration value="AccessControlPlus16" />
          <s:enumeration value="AccessControlPlus32" />
          <s:enumeration value="AccessControlPlus64" />
          <s:enumeration value="AccessControlPlusDoors" />
          <s:enumeration value="MobileCredentials" />
          <s:enumeration value="LiftMasterSurcharge" />
          <s:enumeration value="FreeMobileCredentials" />
          <s:enumeration value="VideoPropertyPanic" />
          <s:enumeration value="SmartArming" />
          <s:enumeration value="CommercialVideo2Basic" />
          <s:enumeration value="CommercialVideo2BasicExpansion" />
          <s:enumeration value="WaterCloudDevices" />
          <s:enumeration value="ElevatedEventsMonitoring" />
          <s:enumeration value="ZWaveNoiseSensors" />
          <s:enumeration value="ThirdPartyCameras" />
          <s:enumeration value="CellRouter" />
          <s:enumeration value="ConnectedFleet" />
          <s:enumeration value="AmbientVoice" />
          <s:enumeration value="WifiAwareness" />
          <s:enumeration value="MobileCredentials2500" />
          <s:enumeration value="MobileCredentials5000" />
          <s:enumeration value="MobileCredentials7500" />
          <s:enumeration value="LocalMalfunctionSignalingAndSecondaryReaderSupport" />
          <s:enumeration value="PropertyActions" />
          <s:enumeration value="GunshotDetectionSDS" />
          <s:enumeration value="GunshotDetectionPlusSDS" />
          <s:enumeration value="MultiLevelEnterpriseSecurityConsole" />
          <s:enumeration value="CameraTwoWayAudioforMonitoringResponse" />
          <s:enumeration value="Noonlight" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetInvoiceDetails_V2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="tns:GetInvoiceDetailsInput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetInvoiceDetailsInput">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="InternalInvoiceId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CallerVersion" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetInvoiceDetails_V2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInvoiceDetails_V2Result" type="tns:Invoice" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInvoiceList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="startMonth" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endMonth" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInvoiceListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInvoiceListResult" type="tns:ArrayOfInvoice" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInvoice">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Invoice" nillable="true" type="tns:Invoice" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetOrderIdsForPoNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="poNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrderIdsForPoNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOrderIdsForPoNumberResult" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetOrderIdsForPoNumberByDealer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="poNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dealerId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrderIdsForPoNumberByDealerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOrderIdsForPoNumberByDealerResult" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrderStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="orderId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrderStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOrderStatusResult" type="tns:OrderStatusOutput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="OrderStatusOutput">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OrderId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PoNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DateCreated" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DateSentToManufacturing" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemsNotShipped" type="tns:ArrayOfDealerHardwareOrderLineItem" />
          <s:element minOccurs="0" maxOccurs="1" name="Shipments" type="tns:ArrayOfShipmentStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="SplitToOrderId" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SplitFromOrderId" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfShipmentStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ShipmentStatus" nillable="true" type="tns:ShipmentStatus" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ShipmentStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TrackingNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Items" type="tns:ArrayOfDealerHardwareOrderLineItem" />
          <s:element minOccurs="1" maxOccurs="1" name="ShippedDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ReceivedDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="LastTrackingMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CheckRMAEligibility">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="tns:CheckRMAEligibilityInput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CheckRMAEligibilityInput">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SerialsOrMacs" type="tns:ArrayOfString" />
          <s:element minOccurs="1" maxOccurs="1" name="ReturnReason" type="tns:ReturnReasonEnum" />
          <s:element minOccurs="1" maxOccurs="1" name="ReturnType" type="tns:ReturnTypeEnum" />
          <s:element minOccurs="1" maxOccurs="1" name="RMAType" type="tns:RMATypeEnum" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ReturnReasonEnum">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="ExcessInventory" />
          <s:enumeration value="WrongPartOrdered" />
          <s:enumeration value="WrongPartShipped" />
          <s:enumeration value="PowerIssues" />
          <s:enumeration value="NetworkIssues" />
          <s:enumeration value="PhysicalDamage" />
          <s:enumeration value="NoVideo" />
          <s:enumeration value="WaterDamage" />
          <s:enumeration value="ApprovedOutOfWarrantyReturn" />
          <s:enumeration value="ReturnToShipper" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ReturnTypeEnum">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="Serial" />
          <s:enumeration value="Mac" />
          <s:enumeration value="MiscPart" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="RMATypeEnum">
        <s:restriction base="s:string">
          <s:enumeration value="NotSet" />
          <s:enumeration value="Credit" />
          <s:enumeration value="Replacement" />
          <s:enumeration value="AdvancedReplacement" />
          <s:enumeration value="InventoryReturnOnly" />
        </s:restriction>
      </s:simpleType>
      <s:element name="CheckRMAEligibilityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckRMAEligibilityResult" type="tns:CheckRMAEligibilityOutput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CheckRMAEligibilityOutput">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Result" type="tns:ArrayOfCheckRMAEligibilityResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCheckRMAEligibilityResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CheckRMAEligibilityResult" nillable="true" type="tns:CheckRMAEligibilityResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CheckRMAEligibilityResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SerialOrMAC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderId" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PartReceiveDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ValidationResult" type="tns:ValidationResultTypeEnum" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ValidationResultTypeEnum">
        <s:restriction base="s:string">
          <s:enumeration value="NotValidated" />
          <s:enumeration value="Valid" />
          <s:enumeration value="NoCreditYesReplacement" />
          <s:enumeration value="NoReturn" />
          <s:enumeration value="NeedVerification" />
          <s:enumeration value="AttachedToCustomer" />
          <s:enumeration value="InRMA" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PlaceOrderSoapIn">
    <wsdl:part name="parameters" element="tns:PlaceOrder" />
  </wsdl:message>
  <wsdl:message name="PlaceOrderSoapOut">
    <wsdl:part name="parameters" element="tns:PlaceOrderResponse" />
  </wsdl:message>
  <wsdl:message name="PlaceOrderAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GetPartInformationSoapIn">
    <wsdl:part name="parameters" element="tns:GetPartInformation" />
  </wsdl:message>
  <wsdl:message name="GetPartInformationSoapOut">
    <wsdl:part name="parameters" element="tns:GetPartInformationResponse" />
  </wsdl:message>
  <wsdl:message name="GetPartInformationAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GetPartInformationForDealerSoapIn">
    <wsdl:part name="parameters" element="tns:GetPartInformationForDealer" />
  </wsdl:message>
  <wsdl:message name="GetPartInformationForDealerSoapOut">
    <wsdl:part name="parameters" element="tns:GetPartInformationForDealerResponse" />
  </wsdl:message>
  <wsdl:message name="GetPartInformationForDealerAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GetPartListForDealerSoapIn">
    <wsdl:part name="parameters" element="tns:GetPartListForDealer" />
  </wsdl:message>
  <wsdl:message name="GetPartListForDealerSoapOut">
    <wsdl:part name="parameters" element="tns:GetPartListForDealerResponse" />
  </wsdl:message>
  <wsdl:message name="GetPartListForDealerAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GetPartListSoapIn">
    <wsdl:part name="parameters" element="tns:GetPartList" />
  </wsdl:message>
  <wsdl:message name="GetPartListSoapOut">
    <wsdl:part name="parameters" element="tns:GetPartListResponse" />
  </wsdl:message>
  <wsdl:message name="GetPartListAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GetInvoiceDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetInvoiceDetails" />
  </wsdl:message>
  <wsdl:message name="GetInvoiceDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetInvoiceDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetInvoiceDetailsAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GetInvoiceDetails_V2SoapIn">
    <wsdl:part name="parameters" element="tns:GetInvoiceDetails_V2" />
  </wsdl:message>
  <wsdl:message name="GetInvoiceDetails_V2SoapOut">
    <wsdl:part name="parameters" element="tns:GetInvoiceDetails_V2Response" />
  </wsdl:message>
  <wsdl:message name="GetInvoiceDetails_V2Authentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GetInvoiceListSoapIn">
    <wsdl:part name="parameters" element="tns:GetInvoiceList" />
  </wsdl:message>
  <wsdl:message name="GetInvoiceListSoapOut">
    <wsdl:part name="parameters" element="tns:GetInvoiceListResponse" />
  </wsdl:message>
  <wsdl:message name="GetInvoiceListAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GetOrderIdsForPoNumberSoapIn">
    <wsdl:part name="parameters" element="tns:GetOrderIdsForPoNumber" />
  </wsdl:message>
  <wsdl:message name="GetOrderIdsForPoNumberSoapOut">
    <wsdl:part name="parameters" element="tns:GetOrderIdsForPoNumberResponse" />
  </wsdl:message>
  <wsdl:message name="GetOrderIdsForPoNumberAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GetOrderIdsForPoNumberByDealerSoapIn">
    <wsdl:part name="parameters" element="tns:GetOrderIdsForPoNumberByDealer" />
  </wsdl:message>
  <wsdl:message name="GetOrderIdsForPoNumberByDealerSoapOut">
    <wsdl:part name="parameters" element="tns:GetOrderIdsForPoNumberByDealerResponse" />
  </wsdl:message>
  <wsdl:message name="GetOrderIdsForPoNumberByDealerAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GetOrderStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetOrderStatus" />
  </wsdl:message>
  <wsdl:message name="GetOrderStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetOrderStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetOrderStatusAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="CheckRMAEligibilitySoapIn">
    <wsdl:part name="parameters" element="tns:CheckRMAEligibility" />
  </wsdl:message>
  <wsdl:message name="CheckRMAEligibilitySoapOut">
    <wsdl:part name="parameters" element="tns:CheckRMAEligibilityResponse" />
  </wsdl:message>
  <wsdl:message name="CheckRMAEligibilityAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:portType name="OrderManagementSoap">
    <wsdl:operation name="PlaceOrder">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Place an order for hardware</wsdl:documentation>
      <wsdl:input message="tns:PlaceOrderSoapIn" />
      <wsdl:output message="tns:PlaceOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPartInformation">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get information (eg price) for one part</wsdl:documentation>
      <wsdl:input message="tns:GetPartInformationSoapIn" />
      <wsdl:output message="tns:GetPartInformationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPartInformationForDealer">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get information for one part for a specific dealer</wsdl:documentation>
      <wsdl:input message="tns:GetPartInformationForDealerSoapIn" />
      <wsdl:output message="tns:GetPartInformationForDealerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPartListForDealer">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a list of all purchasable parts for a specific Dealer.</wsdl:documentation>
      <wsdl:input message="tns:GetPartListForDealerSoapIn" />
      <wsdl:output message="tns:GetPartListForDealerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPartList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a list of all the parts that you can purchase.</wsdl:documentation>
      <wsdl:input message="tns:GetPartListSoapIn" />
      <wsdl:output message="tns:GetPartListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceDetails">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obsolete. Use GetInvoiceDetails_V2 instead.</wsdl:documentation>
      <wsdl:input message="tns:GetInvoiceDetailsSoapIn" />
      <wsdl:output message="tns:GetInvoiceDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceDetails_V2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the details for an invoice.</wsdl:documentation>
      <wsdl:input message="tns:GetInvoiceDetails_V2SoapIn" />
      <wsdl:output message="tns:GetInvoiceDetails_V2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the list of invoices.  Note: PurchaseOrderNumbers and LineItems will not be returned by this method.</wsdl:documentation>
      <wsdl:input message="tns:GetInvoiceListSoapIn" />
      <wsdl:output message="tns:GetInvoiceListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderIdsForPoNumber">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the order id(s) for a PO Number.  Note: Multiple order ids for one PO is uncommon.</wsdl:documentation>
      <wsdl:input message="tns:GetOrderIdsForPoNumberSoapIn" />
      <wsdl:output message="tns:GetOrderIdsForPoNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderIdsForPoNumberByDealer">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the order id(s) for a PO Number and Dealer Id.  Note: Multiple order ids for one PO and dealer id combo is uncommon.</wsdl:documentation>
      <wsdl:input message="tns:GetOrderIdsForPoNumberByDealerSoapIn" />
      <wsdl:output message="tns:GetOrderIdsForPoNumberByDealerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the status of an order</wsdl:documentation>
      <wsdl:input message="tns:GetOrderStatusSoapIn" />
      <wsdl:output message="tns:GetOrderStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckRMAEligibility">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Check RMA eligibility for MAC or Serial</wsdl:documentation>
      <wsdl:input message="tns:CheckRMAEligibilitySoapIn" />
      <wsdl:output message="tns:CheckRMAEligibilitySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrderManagementSoap" type="tns:OrderManagementSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PlaceOrder">
      <soap:operation soapAction="http://www.alarm.com/WebServices/PlaceOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:PlaceOrderAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartInformation">
      <soap:operation soapAction="http://www.alarm.com/WebServices/GetPartInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetPartInformationAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartInformationForDealer">
      <soap:operation soapAction="http://www.alarm.com/WebServices/GetPartInformationForDealer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetPartInformationForDealerAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartListForDealer">
      <soap:operation soapAction="http://www.alarm.com/WebServices/GetPartListForDealer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetPartListForDealerAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartList">
      <soap:operation soapAction="http://www.alarm.com/WebServices/GetPartList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetPartListAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceDetails">
      <soap:operation soapAction="http://www.alarm.com/WebServices/GetInvoiceDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetInvoiceDetailsAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceDetails_V2">
      <soap:operation soapAction="http://www.alarm.com/WebServices/GetInvoiceDetails_V2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetInvoiceDetails_V2Authentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceList">
      <soap:operation soapAction="http://www.alarm.com/WebServices/GetInvoiceList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetInvoiceListAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderIdsForPoNumber">
      <soap:operation soapAction="http://www.alarm.com/WebServices/GetOrderIdsForPoNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetOrderIdsForPoNumberAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderIdsForPoNumberByDealer">
      <soap:operation soapAction="http://www.alarm.com/WebServices/GetOrderIdsForPoNumberByDealer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetOrderIdsForPoNumberByDealerAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderStatus">
      <soap:operation soapAction="http://www.alarm.com/WebServices/GetOrderStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetOrderStatusAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckRMAEligibility">
      <soap:operation soapAction="http://www.alarm.com/WebServices/CheckRMAEligibility" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CheckRMAEligibilityAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OrderManagementSoap12" type="tns:OrderManagementSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PlaceOrder">
      <soap12:operation soapAction="http://www.alarm.com/WebServices/PlaceOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:PlaceOrderAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartInformation">
      <soap12:operation soapAction="http://www.alarm.com/WebServices/GetPartInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetPartInformationAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartInformationForDealer">
      <soap12:operation soapAction="http://www.alarm.com/WebServices/GetPartInformationForDealer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetPartInformationForDealerAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartListForDealer">
      <soap12:operation soapAction="http://www.alarm.com/WebServices/GetPartListForDealer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetPartListForDealerAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartList">
      <soap12:operation soapAction="http://www.alarm.com/WebServices/GetPartList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetPartListAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceDetails">
      <soap12:operation soapAction="http://www.alarm.com/WebServices/GetInvoiceDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetInvoiceDetailsAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceDetails_V2">
      <soap12:operation soapAction="http://www.alarm.com/WebServices/GetInvoiceDetails_V2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetInvoiceDetails_V2Authentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceList">
      <soap12:operation soapAction="http://www.alarm.com/WebServices/GetInvoiceList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetInvoiceListAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderIdsForPoNumber">
      <soap12:operation soapAction="http://www.alarm.com/WebServices/GetOrderIdsForPoNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetOrderIdsForPoNumberAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderIdsForPoNumberByDealer">
      <soap12:operation soapAction="http://www.alarm.com/WebServices/GetOrderIdsForPoNumberByDealer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetOrderIdsForPoNumberByDealerAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderStatus">
      <soap12:operation soapAction="http://www.alarm.com/WebServices/GetOrderStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetOrderStatusAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckRMAEligibility">
      <soap12:operation soapAction="http://www.alarm.com/WebServices/CheckRMAEligibility" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CheckRMAEligibilityAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderManagement">
    <wsdl:port name="OrderManagementSoap" binding="tns:OrderManagementSoap">
      <soap:address location="https://alarmadmin.alarm.com/WebServices/OrderManagement.asmx" />
    </wsdl:port>
    <wsdl:port name="OrderManagementSoap12" binding="tns:OrderManagementSoap12">
      <soap12:address location="https://alarmadmin.alarm.com/WebServices/OrderManagement.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>